﻿<footer>
    <div class="top-footer">
        <div class="container">
            <div class="ft-logo">
                <img src="@ViewBag.Footer?.URLLogoFullPath" alt="" height="80">
                <div class="ft-text">
                    <h2>LordCros</h2>
                    <h3>Hotel & Resort</h3>
                </div>
            </div><!--ft-logo end-->
            <div class="room-feats-list">
                <ul>
                    <li>
                        <h3>25</h3>
                        <h4>SUITES</h4>
                    </li>
                    <li>
                        <h3>195</h3>
                        <h4>ROOMS</h4>
                    </li>
                    <li>
                        <h3>84</h3>
                        <h4>APARTMENTS</h4>
                    </li>
                    <li>
                        <h3>143</h3>
                        <h4>STAFF</h4>
                    </li>
                </ul>
            </div><!--room-feats-list end-->
            <div class="social-links">
				<ul>
					@if (ViewBag.Footer != null)
					{
						@if (!string.IsNullOrEmpty(ViewBag.Footer.URLFace))
						{
							<li><a href="@ViewBag.Footer.URLFace" title="" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
						}
						@if (!string.IsNullOrEmpty(ViewBag.Footer.URLTwiter))
						{
							<li><a href="@ViewBag.Footer.URLTwiter" title="" target="_blank"><i class="fa fa-twitter"></i></a></li>
				}
						@if (!string.IsNullOrEmpty(ViewBag.Footer.URLInstagram))
						{
							<li><a href="@ViewBag.Footer.URLInstagram" title="" target="_blank"><i class="fa fa-instagram"></i></a></li>
				}
						@if (!string.IsNullOrEmpty(ViewBag.Footer.URLPinterest))
						{
							<li><a href="@ViewBag.Footer.URLPinterest" title="" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
 }
						@*@if (!string.IsNullOrEmpty(ViewBag.Footer.URLFace)) {<li><a href="@ViewBag.Footer.URLFace" title="" target="_blank"><i class="fa fa-dribbble"></i></a></li> }*@
					}




				</ul>
            </div><!--social-links end-->
            <div class="clearfix"></div>
        </div>
    </div><!--top-footer end-->


    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
					<div class="widget widget-info">

						@if (ViewBag.FooterContacto != null)
						{
							<h4 style="color:#000000;">Tel: @ViewBag.FooterContacto.Telefono1</h4>
							<ul class="info-lst">
								<li>@ViewBag.FooterContacto.Direccion </li>
								<li><a asp-action="Index" asp-controller="Contacto" title="">Ver mapa</a></li>
								<li>
									@ViewBag.FooterContacto.Email
								</li>
							</ul>

							<!--
		<ul class="pt-lst">
			<li>
				<img src="~/images/Badge.png" alt="">
			</li>
		</ul> -->
						}

						<div class="FormasPagoHome">
							<img src="~/images/FormasPago/visa_c.png" />
							<img src="~/images/FormasPago/mc_c.png" />
							<img src="~/images/FormasPago/secure_c.png" />
							<img src="~/images/FormasPago/bac_c.png" />
						</div>

					</div><!--widget-info end-->
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="widget widget-links">
                        <h3 class="widget-title">MENÚ</h3>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home" title="">Inicio</a></li>
                            <li><a asp-action="Index" asp-controller="Nosotros" title="">Nosotros</a></li>
                            <li><a asp-action="Index" asp-controller="Habitaciones" title="">Habitaciones</a></li>
                            <li><a asp-action="Index" asp-controller="Servicios" title="">Servicios</a></li>
                            <li><a asp-action="Index" asp-controller="Galeria" title="">Galeria</a></li>
                        </ul>
                    </div><!--widget-links end-->
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="widget widget-links">
                        <h3 class="widget-title">SEGURIDAD</h3>
						<ul>
							<li><a asp-action="Terminos" asp-controller="Nosotros" title="">Términos</a></li>							
							<li><a asp-action="PoliticasPrivacidad" asp-controller="Nosotros" title="">Privacidad</a></li>							
							<li><a asp-action="PoliticasCancelacion" asp-controller="Nosotros" title="">Cancelaciones</a></li>							
						</ul>
                    </div><!--widget-links end-->
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-newsletter">
                        <h3 class="widget-title">SERVICIOS</h3>
                        <p>Reciba las mejores ofertas en su inbox al ingresar su correo electronico !Suscribase ahora...!</p>
                        <form>
                            <input type="email" name="email" placeholder="">
                            <button type="submit"><i class="la la-paper-plane"></i></button>
                        </form>
                        

                    </div><!--widget-newsletter END-->
                </div>
            </div>
        </div>
    </div><!--bottom-footer end-->
    <div class="bottom-strip">
        <div class="container">
			<p>© 2019 Todos los derechos reservados @ViewBag.DataHotel?.TituloPagina</p>
        </div>
    </div><!--bottom-strip end-->
</footer><!--FOOTER END-->
<script src="~/js/jqueryHotel.js"></script>