﻿
<header class="pb hp1">
    <div class="bottom-header">
        <div class="container-fluid">
            <div class="ft-logo">
                <a asp-action="Index" asp-controller="Home" title="">
                    <img src="@ViewBag.Footer?.URLLogoFullPath" alt="">
                    @*<div class="ft-text">
                            <h2>LordCros</h2>
                            <h3>Hotel & Resort</h3>
                        </div>*@
                </a>
            </div><!--ft-logo end-->
            <ul class="src-book">
                <li>
                    <a href="#" title="" class="search-btn"><img src="~/images/icon4.png" alt=""></a>
                </li>
                <li>
                    <a href="javascript:;"  title=""><img src="~/images/icon5.png" alt="" id="iconReservar"></a>
                    <a href="javascript:;" title="" class="bk-now" id="btnHeaderReservar">RESERVAR</a>
                </li>
            </ul><!--src-book end-->
            <nav>
                <ul>
                    <li class="active"><a asp-action="Index" asp-controller="Home" title="">INICIO</a></li>
                    <li><a asp-action="Index" asp-controller="Nosotros" title="">NOSOTROS</a></li>
                    <li><a asp-action="Index" asp-controller="Habitaciones" title="">HABITACIONES</a></li>
                    <li><a asp-action="Index" asp-controller="Servicios" title="">SERVICIOS</a></li>
                    <li><a asp-action="Index" asp-controller="Contacto" title="">CONTACTO</a></li>
                    <li><a asp-action="Index" asp-controller="Galeria" title="">GALERIA</a></li>
                </ul>
            </nav>
            <div class="menu-bar">
                <a href="#" title="">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div><!--bottom-header end-->
</header><!--HEADER END-->

<div class="responsive_mobile_menu">
	<div class="resp_head">
		 
	        <div class="ft-logo">
		        <a href="#" title="">
					<img src="@ViewBag.Footer?.URLLogoFullPath" alt="">
		        </a>
	        </div>
		 
		<!--ft-logo end-->
		<div class="menu-bar">
			<a href="#" title="">
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</a>
		</div><!--menu-bar end-->
		<div class="clearfix"></div>
	</div>
    <div class="ct_head">
    </div><!--ct_head end-->
    <div class="navigations">
        <ul>
            <li><a asp-action="Index" asp-controller="Home" title="">INICIO</a></li>
            <li><a asp-action="Index" asp-controller="Nosotros" title="">NOSOTROS</a></li>
            <li><a asp-action="Index" asp-controller="Habitaciones" title="">HABITACIONES</a></li>
            <li><a asp-action="Index" asp-controller="Servicios" title="">SERVICIOS</a></li>
            <li><a asp-action="Index" asp-controller="Contacto" title="">CONTACTO</a></li>
            <li><a asp-action="Index" asp-controller="Galeria" title="">GALERIA</a></li>
        </ul>
    </div><!--navigations end-->
    @*<ul class="mbl_contact_info">
            <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
            <li><a href="#" title="">Map</a></li>
            <li>info@lordcros.com</li>
        </ul>*@<!--mbl_contact_info end-->
</div><!--responsive_mobile_menu end-->

<div class="modal fade bd-example-modal-lg" id="ModalReservacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
 
            <div class="modal-body">
                <div class="checking-form sldr">
                    <ul class="checkform">
                        <li>
                            <div class="check-form">
                                <h4>INGRESO</h4>
                                <div class="det">
                                    <b class="val-date">@DateTime.Now.Day</b>
                                    <span>
                                        <i class="month">@HotelCatarataCore.Web.Helpers.HelpMonth.ObtenerMes(DateTime.Now.Month)</i> <i class="year">@DateTime.Now.Year</i>
                                    </span>
                                </div>
                                <a href="javascript:;" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                <input type="text" name="date-in" class="date-pick">
                                <input id="EntradaBuscarHeader" type="text" name="date-in" class="date-pick" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                                <div class="clearfix"></div>
                            </div><!--check-form end-->
                        </li>
                        <li>
                            <div class="check-form">
                                <h4>SALIDA</h4>
                                <div class="det">
                                    <b class="val-date">@DateTime.Now.AddDays(1).Day</b>
                                    <span>
                                        <i class="month">@HotelCatarataCore.Web.Helpers.HelpMonth.ObtenerMes(DateTime.Now.AddDays(1).Month)</i> <i class="year">@DateTime.Now.AddDays(1).Year</i>
                                    </span>
                                </div>
                                <a href="javascript:;" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                                <input id="SalidaBuscarHeader" type="text" name="date-out" class="date-pick" value="@DateTime.Now.AddDays(1).Date.ToString("yyyy-MM-dd")">
                                <div class="clearfix"></div>
                            </div><!--check-form end-->
                        </li>
                        <li class="item-cont">
                            <div class="check-form">
                                <h4 class="text-center">ADULTO</h4>
                                <div class="det">
                                    <div class="handle-counter" id="handleCounter">
                                        <ul>
                                            <li class="input-fieldd"><input type="text" value="2" data-num="2" id="totalHuespdes"></li>
                                            <li class="counter-control">
                                                <button class=" counter-plus btn" disabled=""><i class="fa fa-angle-up"></i></button>
                                                <button class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!--check-form end-->
                            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                        </li>

                        <li class="item-cont">
                            <div class="check-form">
                                <h4 class="text-center">NIÑOS</h4>
                                <div class="det" id="guessNinos">
                                    <div class="handle-counter" id="handleCounter">
                                        <ul>
                                            <li class="input-fieldd"><input type="text" value="0" data-num="1" id="totalNinos"></li>
                                            <li class="counter-control">
                                                <button class=" counter-plus btn"><i class="fa fa-angle-up"></i></button>
                                                <button class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!--check-form end-->
                            <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                        </li>


                        <li class="wuto">
                            <div class="bk_now divPointer" id="btnBookHeader">
                                <a title="">BUSCAR</a>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="liCerrar">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </li>
                    </ul>
                    
                    <div class="clearfix"></div>
                </div><!--checking-form end-->
            </div>
        </div>
    </div>
</div>



<input type="hidden" value="@ViewBag.Footer?.URLLogoFullPath" name="urlLogoHddn" id="urlLogoHddn" />


<script src="~/js/jquery.min.js"></script>
<script>
    $("#btnHeaderReservar").click(function () {
		ModalReservacion();
	});
    $("#iconReservar").click(function () {
        ModalReservacion();
	});

	function ModalReservacion() {
		$('#ModalReservacion').modal('show');
		$(".main-slider  .checking-form").attr("style","z-index:0")
	}

	function Reservar() {
        
		var FechaInicio = $('#EntradaBuscarHeader').val();
		var FechaFinal = $('#SalidaBuscarHeader').val();
		var TotalHuespedes = $("#ModalReservacion #totalHuespdes").val();
		var children = $("#ModalReservacion #totalNinos").val()

		$("#ModalReservacion .close").click();
		VerificarFechasDisponibilidad(FechaInicio,FechaFinal ,TotalHuespedes,children);
	} 

    $("#btnBookHeader").click(function () {            			
		Reservar();  
	});

    function VerificarFechasDisponibilidad(FechaInicio, FechaFinal, TotalHuespedes, children, showmodal = true) {		       

        $.ajax({
			url: $('#URL_BASE').val() + "Reservacion/BusquedaHabitaciones?FechaInicio=" + FechaInicio + "&FechaFinal=" + FechaFinal + "&TotalHuespedes=" + TotalHuespedes + "&children=" + children,
			success: function (data) {
				console.log(data);
                Swal.close();
                var html = "<div class='verificacionFail'>" +
					"<img src='" + $('#URL_BASE').val() +"images/Alert/calendaricon.png'> </img>" +
                    "<h3>Lo sentimos...</h4><p/>" +
                    "<div>Al parecer no tenemos espacio para estas fechas.<br />Por favor intenta con otras</div>" +
                    "<div class='BtnMirarOpciones' onclick='MasOpcionesHeader("+ showmodal +")' >CAMBIAR FECHAS</div>"  +
								"</div>";
                if (data.IsSuccess == true) {
                    if (data.Result.listaHabitaciones.length == 0) {
                        Swal.fire({

                            showConfirmButton: false,
                            showCloseButton: true,
                            html: html,
                            onClose: function () {
                                console.log("no se encontraron habitaciones");
                            }
                        })
                        console.log("no encontro");
                    }
                    else {
                        console.log("redurecciono header");
						window.location.href = $('#URL_BASE').val() + "reservacion/index?FechaIniCheck=" + FechaInicio + "&fechaFinCheck=" + FechaFinal + "&huespedes=" + TotalHuespedes + "&children=" + children;						
                    }
                }
                else {

					var html = "<div class='verificacionFail'>" +
						"<img src='" + $('#URL_BASE').val() +"images/Alert/calendaricon.png'> </img>" +
						"<h3>Lo sentimos...</h4><p/>" +
						"<div>" + data.Msj +"</div>" +						
						"</div>";

                    Swal.fire({

                        showConfirmButton: false,
                        showCloseButton: true,
                        html: html,
                        onClose: function () {
							console.log(data.Msj);
                        }
                    });
				}

            },
            beforeSend: function () {
                 Swal.fire({                    
					 allowOutsideClick: false,
					 showConfirmButton: false,
                     showClass: {
                        popup: 'animated fadeIn faster'
                      },
                     customClass: {
                                container: 'sweetLoadingcontent'                            
                              },
					 html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
						"</lottie-player></div>"
                });
            }
        }).done(function () {
        });
	}

    function MasOpcionesHeader(showModal = true) {		
        swal.close();
        if (showModal) $('#ModalReservacion').modal('show');
    }
 

</script>