﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="@ViewBag?.Metadata" />
	<meta name="keywords" content="@ViewBag?.Metadata" />
	<title>@ViewBag?.TituloPagina</title>
	<link rel="icon" href="@ViewBag.DataHotel?.FavIconFullPath">

	<link rel="stylesheet" type="text/css" href="~/css/animate.css">
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/lib/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="~/lib/revolution/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/css/line-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/js/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="~/js/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="~/css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/dist/sweetalert2.css" />
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<script src='~/js/lottie-player.js'></script>

	<link rel="stylesheet" type="text/css" href="@Url.Action("Index", "Style", new { id = ViewBag.Footer?.Color1 })">

	<link rel="stylesheet" type="text/css" href="~/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="~/css/color.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <input type="hidden" name="URL_BASE" id="URL_BASE" value="@Url.Content("~/")" />
    <div class="layout hpg1">
        <!-- Header -->
        <partial name="_Header" />

        <!-- Main view  -->
        @RenderBody()

        <!-- Footer -->
        <partial name="_Footer" />

        <div class="search_sec">
            <a href="#" title="" class="close-search"><i class="la la-close"></i></a>
            <div class="search_field">
                <div class="container">
                    <form>
                        <input type="text" name="search" placeholder="Search for...">
                        <button type="submit"><img src="~/images/search2.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div><!--search_sec end-->

        <a href="#" title="" class="scrollTop"><i class="la la-arrow-up"></i></a>

        <div class="max-cont"></div>

    </div><!--layout end-->


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/es.js"></script>
    <script src="~/js/custom-select.js"></script>
    <script src="~/js/html5lightbox.js"></script>
    <script src="~/js/lib/slick/slick.js"></script>
    <script src="~/js/handleCounter.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>
