﻿
@{
	ViewData["Title"] = "Contacto";
}

 

<section class="c-block white-bg">
	<input type="hidden" id="LAT" value="@ViewBag?.Contacto?.CoordenadasLatitud" />
	<input type="hidden" id="LON" value="@ViewBag?.Contacto?.CoordenadasLongitud" />
	<input type="hidden" id="NAME" value="@ViewBag?.Contacto?.Nombre" />
	<div class="container" style="
    margin: 50px;
    text-align: center;
">
		<div class="contact_sec">
			<div class="row">
				<div class="col-lg-6">					 
						<h3 id="linkMaps">No se pudo descargar el pdf</h3>		
					</div>
			</div>
		</div><!--contact_sec end-->
	</div>
</section><!--CONTACT-SEC END-->
