﻿
@{
	ViewData["Title"] = "Habitación";
}

<style>

	.tituloResume {
		font-weight: bold;
		font-size: x-large;
	}

	.booking-tabs-list {
		pointer-events: none;
	}

	.dep-head span {
		min-height: 5vh;
		display: inline-flex !important;
		align-items: center;
	}

	.dep-head li img {
		height: 42px;
	}


	.item-cont {
		display: flex !important;
		margin-right: 0px !important;
		marcgin-left: 0px !important;
	}

		.item-cont > div {
			padding: 0px;
		}

	.nextBooking button {
		border: transparent;
	}

	.seachby li {
		width: 100% !important;
	}

	.CodSeguridad {
		display: flex;
	}

		.CodSeguridad input {
			width: 35%;
		}

		.CodSeguridad label {
			width: 65%;
			padding-left: 10px;
		}



	.more_information_sec {
		background-color: white;
		padding: 35px 35px 5px 35px;
	}


	.resumeBook img {
		width: 100%;
	}



	.infReserva {
		border-top: 1px solid #e1dcdc;
		display: flex;
		padding-top: 8px;
		padding-bottom: 8px;
	}

		.infReserva > p {
			width: 50%;
		}

		.infReserva div {
			width: 50%;
		}

			.infReserva div p {
				float: right;
				text-align: right;
				font-weight: bold;
				color: black;
			}


	.infTotalReserva {
		display: flex;
	}

		.infTotalReserva > p {
			width: 50%;
		}

		.infTotalReserva div {
			width: 50%;
		}

			.infTotalReserva div p {
				float: right;
				font-weight: bold;
				color: black;
			}



	.HabDescripcion {
		margin-bottom: 20px !important;
		margin-top: 10px !important;
	}

		.HabDescripcion > div {
			padding-right: 0px;
			padding-left: 0px;
		}

		.HabDescripcion .descripcion {
			margin-left: 15px
		}

			.HabDescripcion .descripcion p:nth-child(2) {
				font-size: 16px;
				font-weight: 700;
				color: black;
			}

	#btn-pagar {
		width: 100%
	}

	.terminosCondiciones a {
		text-decoration: underline;
	}

	.row .row {
		margin: 0 0px;
	}

	.descp_infoSinBorde {
		border-bottom: 0px solid transparent;
	}

		.descp_infoSinBorde h3 {
			cursor: pointer;
		}


			.descp_infoSinBorde h3.collapsed::after {
				content: "+";
				float: right;
			}

			.descp_infoSinBorde h3::after {
				content: "-";
				float: right;
			}

	.facturaReservacion {
		float: right;
	}

	.colContentFactura {
		margin: 0px;
		padding: 0px;
	}

	.rowFormFacturacion {
		width: 100%;
	}

	#divCheckFactura {
		float: right;
		padding-right: 20px;
	}
</style>



<section class="pager-sec" style="background-image: url(@ViewBag?.Footer?.URLHabitacionesFullPath)">
	<div class="container">
		<div class="pager-sec-details">
			<h3>@ViewBag?.Habitacion?.NombreTipoHab</h3>
		</div><!--pager-sec-details end-->
	</div>
</section><!--pager-sec end-->

@if (ViewBag.Habitacion == null)
{
	return;
}

<section class="main-content bkng main-reservacion">
	<div class="container">
		<div class="page-content">
			<div class="booking-tabs-list">
				<ul class="nav nav-tabs" id="myTab3" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="choose-tab" data-toggle="tab" href="#choose-room" role="tab" aria-controls="choose-room" aria-selected="true"> <span class="nom"></span>HABITACIÓN</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="booking_tab" data-toggle="tab" href="#booking-tab" role="tab" aria-controls="booking-tab" aria-selected="false"> <span class="nom"></span>RESERVA</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="checkout_tab" data-toggle="tab" href="#checkout-tab" role="tab" aria-controls="checkout-tab" aria-selected="false"> <span class="nom"></span>PAGO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="thankyou_tab" data-toggle="tab" href="#thankyou-tab" role="tab" aria-controls="thankyou-tab" aria-selected="false"><span class="nom"></span>FACTURA</a>
					</li>
				</ul>
			</div><!--booking-tabs-list end-->
			<div class="tab-content" id="myTabContent">
				<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="tab-pane fade show active" id="choose-room" role="tabpanel" aria-labelledby="choose-tab">
					<div class="page-content">
						<div class="room-single-page">
							<div class="row">
								<div class="col-lg-8">
									<div class="room-single-details" id="room-single-detailsx">
										<div class="room_slide_sec">
											<div class="room_slide_imgs">

												@if (ViewBag.Habitacion.Fotos != null && ViewBag.Habitacion.Fotos.Count > 0)
												{
													foreach (var img in ViewBag.Habitacion.Fotos)
													{
														<div class="rom_img_slide">
															<img src="@img.Imagen" alt="" style="height:47vh">
															<a href="@img.Imagen" title="" class="html5lightbox zoom-img"><img src="~/images/zoom.png" alt=""></a>
														</div>
													}
												}


											</div><!--room_slide_imgs end-->
											<ul class="room_slide_thumbs">

												@if (ViewBag.Habitacion.Fotos != null && ViewBag.Habitacion.Fotos.Count > 0)
												{
													foreach (var img in ViewBag.Habitacion.Fotos)
													{
														<li>
															<div class="thumb_img">
																<img src="@img?.Imagen" alt="" style="height:10vh">
															</div>
														</li>
													}

												}
											</ul><!--room_slide_thumbs end-->
										</div><!--room_slide_sec end-->
										<div class="room_descp_sec">
											<ul class="dep-head">
												<li>
													<img src="~/images/Habitacion/IconoCamas2x.png" alt="">
													<h3>Camas</h3>
													<span>@ViewBag.Habitacion?.Camas</span>
												</li>
												<li>
													<img src="~/images/Habitacion/noche2x.png" alt="">
													<h3>Precio Noche</h3>
													<span>@string.Format("{0:c}", ViewBag.Habitacion?.Precio)</span>
												</li>
												<li>
													<img src="~/images/Habitacion/estadía2x.png" alt="">
													<h3>Estadía miníma</h3>
													<span>@ViewBag.Habitacion?.MinimoNoches  @ViewBag?.TextoEstadia</span>
												</li>
												<li>
													<img src="~/images/Habitacion/Capcidad2x.png" alt="">
													<h3>Capacidad</h3>
													<span>@ViewBag.Habitacion?.CapacidadAdultos Adultos <br> @ViewBag.Habitacion?.CapacidadNinos  @ViewBag?.TextoNinos  </span>
												</li>
											</ul><!--dep-head end-->
											<div class="clearfix"></div>
											<div class="descp_info ">
												<h3>@ViewBag.Habitacion?.NombreTipoHab</h3>
												<p>@ViewBag.Habitacion?.DescripcionDetallada</p>
											</div><!--descp_info end-->
											<div class="descp_info descp_infoSinBorde">
												<h3 data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class=" collapsed">AMENIDADES</h3>
												<div class="collapse" id="collapseExample">
													<ul class="svx-list">
														@if (ViewBag.Habitacion.Amenidades != null && ViewBag.Habitacion.Amenidades.Count > 0)
														{
															@foreach (var serv in ViewBag.Habitacion.Amenidades)
															{
																<li>@serv?.NomAmenidad</li>
															}
														}
													</ul>
												</div>
												<div class="clearfix"></div>
											</div><!--descp_info end-->

										</div><!--room_descp_sec end-->
									</div><!--room-single-details end-->
								</div>
								<div class="col-lg-4">
									<div class="sidebar">
										<div class="avail-sec mgb-30">
											<form>
												<div class="checking-form formBookBody ">
													<ul class="checkform">
														<li>
															<div class="check-form">
																<h4>INGRESO</h4>
																<div class="det">
																	<b class="val-date">@ViewBag?.DiaIni</b>
																	<span>
																		<i class="month">@ViewBag?.MesActFormat</i> <i class="year">@ViewBag?.YearIni</i>
																	</span>
																	<div class="clearfix"></div>
																</div>
																<input type="text" id="EntradaBuscar" name="date-in" class="date-pick" value="@ViewBag?.FechaIniCheck">
																<a href="#" title="" class="arw_down"><i class="fa fa-angle-down"></i></a>
																<div class="clearfix"></div>
															</div><!--check-form end-->
														</li>

														<li>
															<div class="check-form">
																<h4>SALIDA</h4>
																<div class="det">
																	<b class="val-date">@ViewBag?.DiaFin</b>
																	<span>
																		<i class="month">@ViewBag?.MesActFormatSalida</i> <i class="year">@ViewBag?.YearFin</i>
																	</span>
																	<input type="text" id="SalidaBuscar" name="date-out" class="date-pick" value="@ViewBag?.FechaFinCheck">
																	<div class="clearfix"></div>
																</div>
																<a href="#" title="" class="arw_down"><i class="fa fa-angle-down"></i></a>
																<div class="clearfix"></div>
															</div><!--check-form end-->
														</li>
														<li class="item-cont row">
															<div class="col-sm-12 col-md-6">
																<div class="check-form" style="width:100%">
																	<h4>ADULTOS</h4>
																	<div class="det" id="guessAdultos">
																		<div class="handle-counter" id="handleCounter">
																			<ul>
																				<li class="input-fieldd"><input id="totalHuespedes" type="text" value="@ViewBag?.Huespedes" data-num="@ViewBag?.Huespedes"></li>
																				<li class="counter-control">
																					<button type="button" class="counter-plus btn"><i class="fa fa-angle-up"></i></button>
																					<button type="button" class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
																				</li>
																			</ul>
																			<div class="clearfix"></div>
																		</div>
																	</div>
																	<div class="clearfix"></div>
																</div><!--check-form end-->
															</div>
															<div class="col-sm-12 col-md-6">
																<div class="check-form" style="width:100%" id="guessNinos">
																	<h4>NIÑOS</h4>
																	<div class="det">
																		<div class="handle-counter" id="handleCounter">
																			<ul>
																				<li class="input-fieldd"><input type="text" id="totalNinos" value="@ViewBag?.ninos" data-num="1"></li>
																				<li class="counter-control">
																					<button type="button" class="counter-plus btn"><i class="fa fa-angle-up"></i></button>
																					<button type="button" class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
																				</li>
																			</ul>
																			<div class="clearfix"></div>
																		</div>
																	</div>
																	<div class="clearfix"></div>
																</div><!--check-form end-->
															</div>
														</li>
														<li class="check-avail">
															<a href="javascript:;" class="check-status" title="" id="resevarTab1">RESERVAR</a>
														</li>
													</ul>
													<div class="clearfix"></div>
												</div>
											</form>
										</div><!--avail-sec end-->

									</div><!--sidebar end-->
								</div>
							</div>
						</div><!--room-single-page end-->
					</div><!--page-content end-->
					<br />
					<br />

					@if (ViewBag.HabitacionesSimilares != null && ViewBag.HabitacionesSimilares.Count > 0)
					{


						<section class="c-block pt-0">
							<div>
								<div class="sec-title text-left mgb-30">
									<h3>Habitaciones Similares</h3>									
								</div><!--sec-title end-->
								<div class="similar-rooms">
									<div class="row">

										@foreach (var habitacion in ViewBag.HabitacionesSimilares)
										{
											<div class="col-lg-4 col-md-6">
												<div class="room_details CardVertical">
													<div class="room_show">
														<div class="room-caroz">

															@if (habitacion.Fotos != null && habitacion.Fotos.Count > 0)
															{
																@foreach (var fotos in habitacion.Fotos)
																{
																	<div class="room_img">
																		<img src="@fotos.Imagen" alt="">
																	</div><!--room_img end-->
																}
															}
														</div><!--room-caroz end-->
													</div>
													<div class="room_info">
														<h3 class="one-line-truncate"><a href="#" title="">@habitacion?.NombreTipoHab</a></h3>
														<p class="multi-line-truncate">@habitacion?.Descripcion</p>
														<ul class="fct-list h-70">

															@if (habitacion.Servicios != null && habitacion.Servicios.Count > 0)
															{
																foreach (var servicio in @habitacion.Servicios)
																{
																	<li>
																		<span data-toggle="tooltip" data-placement="top" title="@servicio?.NomServicio"><img src="@servicio?.IconoFullPath" style='width: 100%;' alt=""></span>
																	</li>
																}
															}
														</ul><!--fct-list end-->
														<a title="" class="lnk-default" href="javascript:;" onclick="ReservarHabitacionSimiliar(@habitacion?.CodTipoHab)">Ver Habitación<i class="la la-arrow-right"></i></a>
													</div><!--room_info end-->
												</div><!--room-details end-->
											</div>
										}

									</div>
								</div><!--tb-details end-->
							</div>
						</section><!--similar-rooms end-->
					}

				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="tab-pane fade" id="booking-tab" role="tabpanel" aria-labelledby="booking_tab">
					<div class="tab-contentt">
						<div class="row">

							<div class="col-lg-8">
								<div class="booking_form">
									<div class="information_form">
										<h3>Información Personal</h3>
										<form name="frmInfoPersonal" id="frmInfoPersonal">
											<div class="row">
												<div class="col-lg-6">
													<div class="form-field">
														<label>Nombre *</label>
														<input type="text" name="name" id="name" required placeholder="">
													</div><!--form-field end-->
												</div>
												<div class="col-lg-6">
													<div class="form-field">
														<label>Apellido *</label>
														<input type="text" name="sur-name" id="sur-name" required placeholder="">
													</div><!--form-field end-->
												</div>
												<div class="col-lg-6">
													<div class="form-field">
														<label>Correo Electronico *</label>
														<input type="email" name="email" id="email" required placeholder="">
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>Teléfono *</label>
														<input type="tel" name="phone" required id="phone" placeholder="" value="+506" maxlength="18">
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>País</label>
														<div id="formFieldPaises" class="custom-select">
															<select name="Pais" Id="Pais">
																<option value="CR">COSTA RICA</option>
																<option value="CR">COSTA RICA</option>
																<option value="2">USA</option>
															</select>
														</div>
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>Direccion *</label>
														<input type="text" name="dirUsuario" id="dirUsuario" required placeholder="">
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>Provincia/Ciudad</label>
														<div class="custom-select" id="provincias">
															<select name="Ciudad" id="Ciudad">
																<option value="SJ">SAN JOSÉ</option>
																<option value="A">ALAJUELA</option>
																<option value="C">CARTAGO</option>
																<option value="H">HEREDIA</option>
																<option value="G">GUANACASTE</option>
																<option value="P">PUNTARENAS</option>
																<option value="L">LIMÓN</option>
															</select>
														</div>
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>Codigo Postal *</label>
														<input type="text" name="CodigoPostal" id="CodigoPostal" required placeholder="">
													</div><!--form-field end-->
												</div>

												<div class="col-lg-6">
													<div class="form-field">
														<label>Notas (Opcional)</label>
														<textarea name="notasCliente" id="notasCliente" placeholder=""></textarea>
													</div>
												</div> 
												
												<div class="col-lg-6">
													<div class="seachby">
														<label> &nbsp;</label>
														<ul>
															<li>
																<div class="inp-field terminosCondiciones">
																	<input type="checkbox" name="cc8" id="c87">
																	<label for="c87"><span></span><b>He leído y acepto las <a asp-controller="Nosotros" asp-action="Terminos" target="_blank">Condiciones de servicios</a> , <a asp-controller="Nosotros" asp-action="PoliticasPrivacidad" target="_blank">políticas de privacidad</a> y <a asp-controller="Nosotros" asp-action="PoliticasCancelacion" target="_blank">Cancelación</a></b></label>
																</div>
															</li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="nextBooking">
														<button type="button" class="lnk-default" id="resevarTab2">CONTINUAR <i class="la la-arrow-right"></i></button>
													</div>
												</div> 



												<div class="col-lg-12 colContentFactura">
													<div class="seachby facturaReservacion">
														<!--
			  <label> &nbsp;</label>
			  <ul>
				  <li>
					  <div class="inp-field terminosCondiciones" id="divCheckFactura">
						  <input type="checkbox" name="chkFactura" id="chkFactura" data-toggle="collapse" href="#collapseFactura" role="button" aria-expanded="false" aria-controls="collapseFactura" class=" collapsed">
						  <label for="chkFactura"><span></span><b>Factura Electrónica</b></label>
					  </div>
				  </li>
			  </ul>
			 -->
														<div class="collapse" id="collapseFactura">
															<div class="row rowFormFacturacion">

																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Identificación</label>
																		<div class="custom-select" id="TipoIdentificacion">
																			<select name="SelectIdentificacion" id="SelectIdentificacion">
																				<option value="1-Fisica">Fisica</option>
																				<option value="2-Juridica">Juridica</option>
																				<option value="3-Dimex">Dimex</option>
																				<option value="4-Nite">Nite</option>
																				<option value="5-Extrajero">Extrajero</option>
																			</select>
																		</div>
																	</div><!--form-field end-->
																</div>


																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Cédula</label>
																		<input type="text" name="CedulaFactura" id="CedulaFactura" placeholder="">
																	</div><!--form-field end-->
																</div>

																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Nombre</label>
																		<input type="text" name="NombreFactura" id="NombreFactura" placeholder="">
																	</div><!--form-field end-->
																</div>

																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Teléfono</label>
																		<input type="tel" name="phoneFactura" id="phoneFactura" placeholder="" value="+506" maxlength="18">
																	</div><!--form-field end-->
																</div>

																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Correo Electronico</label>
																		<input type="email" name="emailFactura" id="emailFactura" placeholder="">
																	</div><!--form-field end-->
																</div>

																<div class="col-lg-6">
																	<div class="form-field">
																		<label>Dirección</label>
																		<input type="text" name="direccionFactura" id="direccionFactura" placeholder="">
																	</div><!--form-field end-->
																</div>
															</div>
														</div>
														<div class="clearfix"></div>
													</div>


													<div class="clearfix"></div>
												</div>
												<!--
												<div class="col-lg-6">
													<div class="nextBooking">
														<button type="button" class="lnk-default" id="resevarTab2">CONTINUAR <i class="la la-arrow-right"></i></button>
													</div>
												</div> -->

											</div>
										</form>
									</div><!--information_form end-->
								</div><!--booking_form END-->
							</div>

							<div class="col-lg-4">
								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<label class="tituloResume">Tu reservación</label>
										<div class="HabDescripcion row">
											<div class="col-sm-12 col-md-5">
												<img src=" @((ViewBag?.Habitacion?.Fotos.Count > 0)? ViewBag?.Habitacion?.Fotos[0]?.Imagen :"" )" />
											</div>
											<div class="descripcion col-sm-12 col-md-6">
												<p>Tipo de habitacion</p>
												<p class="font-weight-bold">@ViewBag.Habitacion?.NombreTipoHab</p>
											</div>
										</div>
										<div class="infReserva ">
											<p>Fecha de llegada</p>
											<div><p class="resumeFechaIni">01/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Fecha de salida</p>
											<div><p class="resumeFechaFin">07/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Total de Día</p>
											<div><p class="resumeTotalDias">3</p></div>
										</div>
										<div class="infReserva">
											<p>Adultos</p>
											<div><p class="resumeAdultos">2</p></div>
										</div>
										<div class="infReserva">
											<p>Niños</p>
											<div><p class="resumeNinos">0</p></div>
										</div>
										<!--
											<div class="infReserva">
												<p>Impuestos</p>
												<div><p class="resumeImpuestos">****  $13</p></div>
											</div>
										-->
									</div><!--avail-sec end-->
								</div><!--sidebar end-->

								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<div class="infTotalReserva">
											<p>Total</p>
											<div><p class="TotalBook">$130.00</p></div>
										</div>
									</div><!--avail-sec end-->
								</div><!--sidebar end-->
							</div>
						</div>
					</div><!--tab-contentt end-->
				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="tab-pane fade" id="checkout-tab" role="tabpanel" aria-labelledby="checkout_tab">
					<div class="tab-contentt">
						<div class="row">

							<div class="col-lg-8">
								<div class="more_information_sec">

									<div class="payment_options">
										<h3>Método de pago</h3>

										<div class="tab-content" id="myTabContent3">
											<div class="tab-pane fade show active" id="credit-card" role="tabpanel" aria-labelledby="credit-tab">
												<div class="payment-tab kaxsdc" data-event='load'>
													<form name="frmMetodoPago" id="frmMetodoPago">
														<div class="row">
															<div class="col-lg-6">
																<div class="form-field">
																	<label>Titular de la tarjeta</label>
																	<input type="text" name="c-name" id="c-name" required>
																</div><!--form-field end-->
															</div>
															<div class="col-lg-6">
																<div class="form-field">
																	<label>Número de la tarjeta</label>
																	<input type="text" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" id="creditCarxx" name="creditCarxx" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required minlength="19" data-msg-minlength="Número de tarjeta incompleto">

																</div><!--form-field end-->
															</div>
															<div class="col-lg-6">
																<div class="form-field">
																	<div class="row">
																		<div class="col-lg-6 col-md-6 col-sm-6 colDataTarjetaMes">
																			<label>Mes de expiración</label>
																			<div class="form-field">
																				<input type="text" name="mesCredito" placeholder="MM" id="mesCredito" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" min="0" max="12" required>

																			</div><!--form-field end-->
																		</div>
																		<div class="col-lg-6 col-md-6 col-sm-6 colDataTarjetaAnyo">
																			<label>Año de expiración</label>
																			<div class="form-field">
																				<input type="text" name="anyoCrediot" id="anyoCrediot" placeholder="YY" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="2" required min="@DateTime.Now.ToString("yy")">
																			</div><!--form-field end-->
																		</div>
																	</div>
																</div><!--form-field end-->
															</div>
															<div class="col-lg-6">
																<div class="form-field">
																	<label>Código de seguridad </label>
																	<div class="CodSeguridad">
																		<input type="text" name="codSeguridadCredito" id="codSeguridadCredito" placeholder="***" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3" required minlength="3">
																		<label>* Los 3 dígitos que se encuentran al respaldo de tu tarjeta</label>
																	</div>

																</div><!--form-field end-->
															</div>

															<div class="col-lg-6">
																<div class="form-field">
																	<label>Nombre Empresa (Opcional)</label>
																	<input type="text" name="c-empresa" id="c-empresa">
																</div><!--form-field end-->
															</div>

															<div class="col-lg-6">
																<div class="form-field">
																	<button type="button" class="lnk-default" id="btn-pagar">PAGAR <i class="la la-arrow-right"></i></button>
																</div><!--form-field end-->
															</div>
															<div class="col-lg-12">
																<div class="FormasPago">
																	<img src="~/images/FormasPago/visa_c.png" />
																	<img src="~/images/FormasPago/mc_c.png" />
																	<img src="~/images/FormasPago/secure_c.png" />
																	<img src="~/images/FormasPago/bac_c.png" />
																</div>
																<!--<img src="~/images/BadgeTarjetas.png" class="imgBadgeTarjetas" />-->

															</div>

														</div>
													</form>
												</div><!--payment-tab end-->
											</div>

										</div>
									</div><!--payment_options end-->
								</div><!--more_information_sec end-->
							</div>


							<div class="col-lg-4">
								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<label class="tituloResume">Tu reservación</label>
										<div class="HabDescripcion row">
											<div class="col-sm-12 col-md-5">
												<img src="@((ViewBag?.Habitacion?.Fotos.Count > 0)? ViewBag?.Habitacion?.Fotos[0]?.Imagen :"" )" />
											</div>
											<div class="descripcion col-sm-12 col-md-6">
												<p>Tipo de habitacion</p>
												<p class="font-weight-bold">@ViewBag.Habitacion?.NombreTipoHab</p>
											</div>
										</div>
										<div class="infReserva ">
											<p>Fecha de llegada</p>
											<div><p class="resumeFechaIni">01/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Fecha de salida</p>
											<div><p class="resumeFechaFin">07/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Total de Día</p>
											<div><p class="resumeTotalDias">3</p></div>
										</div>
										<div class="infReserva">
											<p>Adultos</p>
											<div><p class="resumeAdultos">2</p></div>
										</div>
										<div class="infReserva">
											<p>Niños</p>
											<div><p class="resumeNinos">0</p></div>
										</div>
										<!--
											<div class="infReserva">
											 <p>Impuestos</p>
											<div><p class="resumeImpuestos">****  $13</p></div>
											</div>
										-->

									</div><!--avail-sec end-->
								</div><!--sidebar end-->

								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<div class="infTotalReserva">
											<p>Total</p>
											<div><p class="TotalBook">$130.00</p></div>
										</div>
									</div><!--avail-sec end-->
								</div><!--sidebar end-->
							</div>


						</div>
					</div><!--tab-contentt end-->
				</div>

				<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
				<div class="tab-pane fade" id="thankyou-tab" role="tabpanel" aria-labelledby="thankyou_tab">
					<div class="tab-contentt">
						<div class="row">

							<div class="col-lg-8">
								<div class="more_information_sec">
									<h3 class="font-weight-bold">CONFIRMACIÓN</h3>

									<div class="rq-info">
										<h4>¡Muchas gracias por tu reservación!</h4>
										<p>Tu compra fue procesada exitosamente. Te enviamos al correo tu número de reserva con todos los detalles.</p>
										<div class="confirmButton row">
											<div class="col-sm-12 col-md-6">
												<br />
												<p>¡Nos vemos pronto!</p>
											</div>
											<div class="col-sm-12 col-md-6">												
												<a class="lnk-default" style="border:0px;" id="BtnVerReservar" href="" target="_blank" >VER RESERVA</a>
											</div>
										</div>
									</div>

								</div><!--more_information_sec end-->
							</div>


							<div class="col-lg-4">
								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<label class="tituloResume">Tu reservación</label>
										<div class="HabDescripcion row">
											<div class="col-sm-12 col-md-5">
												<img src="@((ViewBag?.Habitacion?.Fotos.Count > 0)? ViewBag?.Habitacion?.Fotos[0]?.Imagen :"" )" />
											</div>
											<div class="descripcion col-sm-12 col-md-6">
												<p>Tipo de habitacion</p>
												<p class="font-weight-bold">@ViewBag.Habitacion?.NombreTipoHab</p>
											</div>
										</div>
										<div class="infReserva ">
											<p>Fecha de llegada</p>
											<div><p class="resumeFechaIni">01/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Fecha de salida</p>
											<div><p class="resumeFechaFin">07/05/2020</p></div>
										</div>
										<div class="infReserva">
											<p>Total de Día</p>
											<div><p class="resumeTotalDias">3</p></div>
										</div>
										<div class="infReserva">
											<p>Adultos</p>
											<div><p class="resumeAdultos">2</p></div>
										</div>
										<div class="infReserva">
											<p>Niños</p>
											<div><p class="resumeNinos">0</p></div>
										</div>
										<!---
											<div class="infReserva">
												<p>Impuestos</p>
												<div><p class="resumeImpuestos">****  $13</p></div>
											</div>
										-->
									</div><!--avail-sec end-->
								</div><!--sidebar end-->

								<div class="sidebar">
									<div class="avail-sec resumeBook">
										<div class="infTotalReserva">
											<p>Total</p>
											<div><p class="TotalBook">$130.00</p></div>
										</div>
									</div><!--avail-sec end-->
								</div><!--sidebar end-->
							</div>
						</div>
					</div><!--tab-contentt end-->
				</div>
			</div><!--tab-content end-->

		</div><!--page-content end-->
	</div>
</section><!--main-content end-->

<input type="hidden" id="codHabReservar" name="codHabReservar" value="@ViewBag?.CodigoHabitacion" />
<input type="hidden" id="hddnTotalReservacion" name="hddnTotalReservacion" value="" />
<input type="hidden" id="revificacionIncial" name="revificacionIncial" value="@ViewBag?.revificacionIncial" />
<input type="hidden" id="nuevaFechaBuscar" name="nuevaFechaBuscar" value="@ViewBag?.nuevaFechaBuscar" />
<!-- <input type="hidden" id="stringSesion" name="stringSesion" value="L3ON4RD0arc3M3j14p09iokl3E4R5T66" /> -->
<input type="hidden" id="stringSesion" name="stringSesion" value="@ViewBag.RandomString" />




@section Scripts{
	<partial name="_ValidationScriptsPartial" />


	<!-- Carga librería AES que se utiliza para cifra datos de tarjeta-->
	<script src="~/libs/aes-js/index.js"></script>
	<!-- Carga librería RSA que se utiliza para encriptar las llaves AES con la llave pública de las credenciales del API-->
	<script src="~/libs/rsa/index.js"></script>


	<script type='text/javascript' src='@ViewBag.Kaptcha/collect/sdk?m=790000&s=@(ViewBag.RandomString)'></script>
	<script type='text/javascript'>
		var client = new ka.ClientSDK();
		client.setupCallback({
			'collect-end': function (params) { },
			'collect-begin': function (params) { }
		});
		client.autoLoadEvents();
	</script>

	<script>
	var controlTab = 0;
    var verificacionDisponibilidad = 0; //0 no disponible, 1 disponible
    var CodReserva = null;

    var TitularTarjetaEnc = null;
	var MesTarjetaEnc = null;
	var AutorizacionTarjetaEnc = null;
	var AnyoTarjetaEnc = null;
	var creditCarEnc = null;



    $(document).ready(function () {

		if ($("#revificacionIncial").val() == 1) {
            VerificarFechasReservacion(0);
		}
	});


	$("#resevarTab1").click(function () {
			//verificacionDisponibilidad = 1;
			//SiguienteTab1();
		VerificarFechasReservacion(1, true);
    });

	function SiguienteTab1() {

	    if (verificacionDisponibilidad == 0) {
			return false;
		}


        $("#booking_tab").click();
        var FechaInicio = $(".avail-sec li:nth-child(1) .val-date").html() + "/" + fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "/" + $(".avail-sec li:nth-child(1) .year").html();
        var FechaFinal = $(".avail-sec li:nth-child(2) .val-date").html() + "/" + fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "/" + $(".avail-sec li:nth-child(2) .year").html();

		var TotalHuespedes = $(".avail-sec #totalHuespedes").val();
        var TotalNinos = $(".avail-sec #totalNinos").val();

        $(".resumeFechaIni").html(FechaInicio);
        $(".resumeFechaFin").html(FechaFinal);
        //$("#resumeTotalDias").html();
        $(".resumeAdultos").html(TotalHuespedes);
		$(".resumeNinos").html(TotalNinos);
		$(".TotalBook").html("$" + $("#hddnTotalReservacion").val());

        var FechaInicioValtxt = fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "/" + $(".avail-sec li:nth-child(1) .val-date").html() + "/" + $(".avail-sec li:nth-child(1) .year").html();
        var FechaFinalValtxt = fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "/" + $(".avail-sec li:nth-child(2) .val-date").html() + "/" + $(".avail-sec li:nth-child(2) .year").html();

        var date1 = new Date(FechaInicioValtxt);
        var date2 = new Date(FechaFinalValtxt);

        // To calculate the time difference of two dates
        var Difference_In_Time = date2.getTime() - date1.getTime();

        // To calculate the no. of days between two dates
		var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
         $(".resumeTotalDias").html(Difference_In_Days);


        controlTab = 2;
        controlBack = 2;
        $(document).scrollTop($("#myTab3").offset().top);
	}


    $("#resevarTab2").click(function () {

        /*
         var checkTerminos = $("#c87:checked").val();
		if (checkTerminos != "on") {
			Swal.fire({
				icon: 'warning',
                text: 'Verifique la casilla de términos y condiciones!',
                customClass: {
                    confirmButton: 'BtnMirarOpciones',
                }
			});
			return false;
        } */

		if ($("#c87").is(':checked') == false) {			
			Swal.fire({
				icon: 'warning',
				text: 'Verifique la casilla de términos y condiciones!',
				customClass: {
					confirmButton: 'BtnMirarOpciones',
				}
			});
			console.log($("#notasCliente").val());
			return false;
		}


        if (!$('#frmInfoPersonal').valid()) {
            Swal.fire({
				icon: 'warning',
                text: 'Concluya el formulario con los campos requeridos \"*\"!',
                customClass: {
                    confirmButton: 'BtnMirarOpciones',
                }
			});
			return false;
		}

		/*
		var checkFactura = $("#c87:chkFactura").val();
        if (checkFactura == "on") {

			if ($("#CedulaFactura").val() == "" || $("#NombreFactura").val() == "" || $("#phoneFactura").val() == "" || $("#emailFactura").val() == "" || $("#direccionFactura").val() == "") {
				Swal.fire({
					icon: 'warning',
					text: 'Finalice los datos de facturación!',
					customClass: {
						confirmButton: 'BtnMirarOpciones',
					}
				});
				return false;
			}
		} */


        $("#booking_tab").click();
        $(".booking-tabs-list ul li:nth-child(3) a").click();
        controlTab = 3;
        controlBack = 2;
		$(document).scrollTop($("#myTab3").offset().top);


    });

    $("#btn-pagar").click(function () {

        if (!$('#frmMetodoPago').valid()) {
            Swal.fire({
				icon: 'warning',
                text: 'Concluya el formulario con los campos requeridos, verifique los valores de los campos!',
                customClass: {
                    confirmButton: 'BtnMirarOpciones',
                }
            });

            return false;
        }

        //Verificamos la expiración de la tarjeta
        let now = new Date();
        now.setHours(0, 0, 0, 0);

        let dateCard = new Date(parseInt('20' + $('#anyoCrediot').val()), parseInt($('#mesCredito').val()), 0);
        if (now > dateCard) {
             Swal.fire({
                 icon: 'error',
                 title: 'Tarjeta vencida',
                text: 'Por favor verifique la fecha de vencimiento',
                customClass: {
                    confirmButton: 'BtnMirarOpciones',
                }
             });
            return false;
        }

		RealizarReservacion();

        //$(".booking-tabs-list ul li:nth-child(4) a").click();
        controlTab = 4;
        controlBack = 2;
    });


	function RealizarReservacion(){
		ReservarHabitacion();
	}


    $(window).on('hashchange', function () {
        location.hash = "noBack";
    });

    function VerificarFechasReservacion(avanzarTab, showButton = true) {

        var FechaInicio = $('#EntradaBuscar').val();
        var FechaFinal = $('#SalidaBuscar').val();
        var TotalHuespedes = $(".avail-sec #totalHuespedes").val();
		var TotalNinos = $(".avail-sec #totalNinos").val();
        textoAlert = "";
        textoBoton = "";
        iconModal = "";
        tituloModal = "";
		OtrasHabDisponibles = 0;

		var data = {
			    CodHab: $("#codHabReservar").val(),
                FechaInicio:  FechaInicio,
                FechaFinal :FechaFinal,
				TotalHuespedes: TotalHuespedes,
				TotalNinos: TotalNinos
		};

            $.ajax({
                type: "POST",
                url: "@Url.Action("VeificarReservacionHabitacion", "Habitacion")",
                data: { data: data },
				success: function (data) {
					if (data.IsSuccess == true) {
						if (data.IsSuccessHabitacion == true) {
							verificacionDisponibilidad = 1;
							$("#hddnTotalReservacion").val(data.totalReserva);
							if (avanzarTab == 1) {
								SiguienteTab1();
							}
							swal.close();
						} else {
							if (data.totalHabDisponibleFecha > 0) {
								textoAlert = "Esta habitación no está disponible para estas fechas.<br />Pero tenemos más opciones para ti.";
								textoBoton = "VER HABITACIONES";
								iconModal = "<img src='" + $('#URL_BASE').val() +"images/Alert/BedIcon.png'></img>";
								tituloModal = "No disponible...";
								OtrasHabDisponibles = 1;
							}
							else {
								textoAlert = "Al parecer no tenemos espacio para estas fechas.<br />Por favor intenta con otras";
								textoBoton = "CAMBIAR FECHAS";
								iconModal = "<img src='" + $('#URL_BASE').val() +"images/Alert/calendaricon.png'> </img>";
								tituloModal = "Lo Sentimos...";
								OtrasHabDisponibles = 0;
							}

							verificacionDisponibilidad = 0;
							Swal.fire({
								showConfirmButton: false,
								showCloseButton: true,

								html: "<div class='verificacionFail'>" +
									iconModal +
									"<h3>" + tituloModal + "</h4><p/>" +
									"<div>" + textoAlert + "</div>" +
									(showButton ? "<div class='BtnMirarOpciones' onclick='MasOpciones(" + OtrasHabDisponibles + ")' >" + textoBoton + "</div>" : "") +
									"</div>",
							});
						}

					}
					else {
						verificacionDisponibilidad = 0;
						textoAlert = data.Mensaje;
						textoBoton = "CAMBIAR FECHAS";
						iconModal = "<img src='" + $('#URL_BASE').val() +"images/Alert/calendaricon.png'> </img>";
						tituloModal = "Lo Sentimos...";
						OtrasHabDisponibles = 0;
						verificacionDisponibilidad = 0;
						Swal.fire({
							showConfirmButton: false,
							showCloseButton: true,
							html: "<div class='verificacionFail'>" +
								iconModal +
								"<h3>" + tituloModal + "</h4><p/>" +
								"<div>" + textoAlert + "</div>" +
								(showButton ? "<div class='BtnMirarOpciones' onclick='MasOpciones(" + OtrasHabDisponibles + ")' >" + textoBoton + "</div>" : "") +
								"</div>",
						});
					}


                },
                error: function () {
                    Swal.fire('¡Error!', 'No se pudo enviar el mensaje', 'error');
				},
                beforeSend: function () {
                    Swal.fire({
	                     allowOutsideClick: false,
	                     showConfirmButton: false,
	                     showClass: {
		                    popup: 'animated fadeIn faster'
	                      },
	                     customClass: {
				                    container: 'sweetLoadingcontent'
			                      },
						html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                    "</lottie-player></div>"
                    });
				}
            });
	}

	function MasOpciones(OtrasHabDisponibles) {
        var FechaInicio = $('#EntradaBuscar').val();
		var FechaFinal = $('#SalidaBuscar').val();
        swal.close();

        if (OtrasHabDisponibles > 0)
        {
		//	$('#ModalReservacion').modal('show');
		//}
		//else {
			window.location.href = $('#URL_BASE').val() + "reservacion/index?FechaIniCheck=" + FechaInicio + "&fechaFinCheck=" + FechaFinal + "&huespedes=" + $(".formBookBody #totalHuespedes").val() + "&children=" + $(".formBookBody #totalNinos").val();
		}
	}


    function ReservarHabitacion() {

		var tempCard = $('#creditCarxx').val().split(' ').join('');
                var dataEnviar = {
			        CodTipoHab: $("#codHabReservar").val(),
                    FechaLlegada:  $(".avail-sec li:nth-child(1) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "-" + $(".avail-sec li:nth-child(1) .val-date").html(),
                    FechaSalida :$(".avail-sec li:nth-child(2) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "-" + $(".avail-sec li:nth-child(2) .val-date").html(),
				    huespedes:  $(".avail-sec #totalHuespedes").val(),
				    Ninos:  $(".avail-sec #totalNinos").val(),
				    Nombres :$("#name").val(),
				    Apellidos  :$("#sur-name").val(),
				    Telefonos   : $("#phone").val(),
				    Email    : $("#email").val() ,
				    Empresa     : $("#c-empresa").val(),
				    Comentarios      : $("#notasCliente").val(),
					ReferenciaTarjeta: creditCarEnc,
					DireccionUsuario: $("#dirUsuario").val(),
					CodigoPostal: $("#CodigoPostal").val(),
					provincia: $("#Ciudad").val(),
					chkFactura: $("#chkFactura").val(),
					CedulaFactura: $("#CedulaFactura").val(),
					NombreFactura: $("#NombreFactura").val(),
					PhoneFactura: $("#phoneFactura").val(),
                    EmailFactura: $("#emailFactura").val(),
					TipoIdentificacion: $("#SelectIdentificacion").val(),
					DireccionFactura: $("#direccionFactura").val(),
					TotalReservacion: $("#hddnTotalReservacion").val(),
					CodPais: $("#Pais").val(),
					CodReserva: CodReserva,
					bin: tempCard.substring(0,6),
					last4: tempCard.substring(12, 16)

		};
					$.ajax({
						type: "POST",
                         url: "@Url.Action("RealizarReserva", "Habitacion")",
						data: { data: dataEnviar },
						success: function (data) {
							console.log(data);
							if (data.IsSuccess == true) {
								swal.close();
								PagoReserva(data.Result, data.dataEnc);
							}
							else {
								Swal.fire(
								  'Error !!',
								  'No se pudo realizar la reservacion',
								  'error'
								)
							}
						},
						beforeSend: function () {
							      Swal.fire({
	                                 allowOutsideClick: false,
	                                 showConfirmButton: false,
	                                 showClass: {
		                                popup: 'animated fadeIn faster'
	                                  },
	                                 customClass: {
				                                container: 'sweetLoadingcontent'
			                                  },
									  html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                                "</lottie-player></div>"
                                });
						}
					}).done(function () {
					});
	}


    controlBack = 0;
    history.pushState(null, null, location.href);
    window.onpopstate = function () {

        switch (controlTab) {
            case 4:
                $(".booking-tabs-list ul li:nth-child(3) a").click();
                history.go(1);
                break;
            case 3:
                $(".booking-tabs-list ul li:nth-child(2) a").click();
                history.go(1);
                break;
            case 2:
                $(".booking-tabs-list ul li:nth-child(1) a").click();
                history.go(1);
                break;
            case 1:
                //this.history.back();
                //history.go(1);
                window.history.back();
                break;
        }
        controlBack--;
        if (controlBack == 0) {
            controlTab = controlTab - 1;
            controlBack = 2;
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        }
        else {
            //window.history.back(1);
        }
    };

    function ReservarHabitacionSimiliar(codHab) {

		var FechaInicio = $(".avail-sec li:nth-child(1) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "-" + $(".avail-sec li:nth-child(1) .val-date").html();
        var FechaFinal = $(".avail-sec li:nth-child(2) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "-" + $(".avail-sec li:nth-child(2) .val-date").html()
        var TotalHuespedes = $(".avail-sec #totalHuespedes").val();
		var TotalNinos = $(".avail-sec #totalNinos").val();
		window.location.href = $('#URL_BASE').val() + "habitacion/index?id=" + codHab + "&FechaIniCheck=" + FechaInicio+ "&fechaFinCheck=" + FechaFinal + "&huespedes=" + TotalHuespedes + "&children=" + TotalNinos+"&revificacionIncial=0";
	}


    $("body").on('DOMSubtreeModified', "#formFieldPaises .select-selected", function () {
		textoFiltro = $("#formFieldPaises .select-selected").html();
		if (textoFiltro != "") {
			LlenarProvincia(textoFiltro);
		}
	});

	function LlenarProvincia(pais) {

        //paises
		htmlpaises = "<select><option value='0'>" + pais + "</option>";
		htmlpaises += "<option value='CR'>COSTA RICA</option><option value='2'>USA</option></select>";
		$("#phone").val("");

        $("#formFieldPaises").html(htmlpaises);


        // provincias
		pronvicias = Paises[pais];
		htmlProvincias = "<select>";
		htmlProvincias += "<option value='" + pronvicias[0].Codigo +"'>"+ pronvicias[0].Provincia +"</option>";
		for (i = 0; i < pronvicias.length; i++) {
			htmlProvincias += "<option value="+ (i+1) +">"+ pronvicias[i].Provincia +"</option>";
		}
        htmlProvincias += "</div>";


		$("#provincias").html(htmlProvincias);
         $.holdReady(true);
		$.getScript($('#URL_BASE').val() + "js/custom-select.js", function () {
            $.holdReady(false);
        });

	}


	var Paises = {
			     "COSTA RICA": [
                        {
						    "Codigo":"SJ",
                            "Provincia": "SAN JOSÉ"
                        },
                        {
							"Codigo": "A",
                            "Provincia": "ALAJUELA"
                        },
			            {
							"Codigo": "C",
							"Provincia": " Cartago"
			            },
                        {
							"Codigo": "H",
                            "Provincia": "HEREDIA"
			            },
                         {
							 "Codigo": "G",
                            "Provincia": "GUANACASTE"
			            },
                        {
							"Codigo": "P",
                            "Provincia": "PUNTARENAS"
			            },
                        {
							"Codigo": "L",
                            "Provincia": "LIMÓN"
                        },
		        ],
                 "USA": [
                     {
						     "Codigo": "0",
                            "Provincia": "NUEVA YORK"
                        },
                     {
						    "Codigo": "1",
                            "Provincia": "TEXAS"
                        }
                    ]
		};


	$('#creditCarxx').on('keyup', function (e) {
		var val = $(this).val();
        var newval = '';
        val = val.replace(/\s/g, '');
        for(var i=0; i < val.length; i++) {
            if(i%4 == 0 && i > 0) newval = newval.concat(' ');
            newval = newval.concat(val[i]);
        }
        $(this).val(newval);
    })



	$("#chkFactura").change(function () {
        if (this.checked) {
            $("#CedulaFactura").prop('required', true);
			$("#NombreFactura").prop('required', true);
			$("#phoneFactura").prop('required', true);
			$("#emailFactura").prop('required', true);
			$("#direccionFactura").prop('required', true);
        }
        else {
			$("#CedulaFactura").prop('required', false);
			$("#NombreFactura").prop('required', false);
			$("#phoneFactura").prop('required', false);
			$("#emailFactura").prop('required', false);
			$("#direccionFactura").prop('required', false);
		}
    });

	$("#c-name").focusout(function () {
		if ($('#c-name').val()) {
			var result = rsa_.encrypt($('#c-name').val());
			TitularTarjetaEnc = result;
		}
	});

    $("#creditCarxx").focusout(function () {
		if ($('#creditCarxx').val()) {
			var tempCard = $('#creditCarxx').val().split(' ').join('');
			var result = rsa_.encrypt(tempCard);
			creditCarEnc = result;
		}
    });

	$("#mesCredito").focusout(function () {
		if ($('#mesCredito').val()) {
			var result = rsa_.encrypt($('#mesCredito').val());
			MesTarjetaEnc = result;
		}
    });

	$("#anyoCrediot").focusout(function () {
		if ($('#anyoCrediot').val()) {
			var result = rsa_.encrypt($('#anyoCrediot').val());
			AnyoTarjetaEnc = result;
		}
    });

	$("#codSeguridadCredito").focusout(function () {
        if ($('#codSeguridadCredito').val()) {
			var result = rsa_.encrypt($('#codSeguridadCredito').val());
			AutorizacionTarjetaEnc = result;
		}
	});

		function PagoReserva(data, dataEnc) {
			var tempCard = $('#creditCarxx').val().split(' ').join('');
			var cardData = {
				"card": {
					"cardHolder": $('#c-name').val(),
					"expirationDate": {
						"month": Number($('#mesCredito').val()),
						"year": Number($('#anyoCrediot').val())
					},
					"cardNumber": tempCard,
					"cvc": $('#codSeguridadCredito').val()
				},
				"kountSession": $("#stringSesion").val()
			};

			var greenpayOrderCreated = {
				"session": "",
				"token": ""
			}
			var result = pack(cardData, greenpayOrderCreated.session);

			var dataEnviar = {
				OrderReference: dataEnc.OrdenReferenciaEncriptado,
				CodReserva: data.CodReserva,
				Monto: dataEnc.MontoEncriptado,
				Moneda: dataEnc.MonedaEncriptada,
				kountSession: $("#stringSesion").val(),
				Session: result.session,
				LD: result.ld,
				LK: result.lk
			};

			console.log("dataEnviar");
			console.log(dataEnviar);

			$.ajax({
						type: "POST",
                         url: "@Url.Action("PagarReserva", "Habitacion")",
						 data: dataEnviar ,
				success: function (data) {
					console.log(data);

					if (data.IsSuccess == true) {

						if (data.Result.success == true) {
							swal.close();														
							$("#BtnVerReservar").attr("href", $('#URL_BASE').val()+ "Habitacion/DownloadAttachment?idReserva=" + dataEnviar.CodReserva);
							$(".booking-tabs-list ul li:nth-child(4) a").click();
							$(document).scrollTop($("#myTab3").offset().top);
						}
						else {
							CodReserva = data.Result.reserva.CodReserva;
							Swal.fire(
								'Error !!',
								data.Result.message,
								'error'
							)
						}
					}
					else {
						Swal.fire(
							'Error !!',
							'No se pudo realizar la reservacion',
							'error'
						)
					}

				},
						beforeSend: function () {
							      Swal.fire({
	                                 allowOutsideClick: false,
	                                 showConfirmButton: false,
	                                 showClass: {
		                                popup: 'animated fadeIn faster'
	                                  },
	                                 customClass: {
				                                container: 'sweetLoadingcontent'
			                                  },
									  html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                                "</lottie-player></div>"
                                });
						}
					}).done(function () {
					});
		}


		$("#testWord").click(function () {
			$.ajax({
						type: "POST",
                         url: "@Url.Action("TestWord", "Habitacion")",		
				success: function (data) {
					console.log(data);
					swal.close();		 
					var link = document.createElement('a');
					link.href = window.URL.createObjectURL(data);
					link.download = "Dossier_" + new Date() + ".pdf";
					link.click();

				},
						beforeSend: function () {
							      Swal.fire({
	                                 allowOutsideClick: false,
	                                 showConfirmButton: false,
	                                 showClass: {
		                                popup: 'animated fadeIn faster'
	                                  },
	                                 customClass: {
				                                container: 'sweetLoadingcontent'
			                                  },
									  html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                                "</lottie-player></div>"
                                });
						}
					}).done(function () {
					});
		});




	</script>
	<script src="~/js/cipherCardData.js"></script>

}