﻿/*
	Color princial de este diseño #02b1ee (azul)
	Color princial de este diseño #02b1ee hover azul bajo (azul)
	cuando haga falta ocupare este grandiente---  background: linear-gradient(to right, #02b1ee, #21c0f7);
	un azul mas fuerte cuando se requeira ##03739a

	colo secundario verde #95BF47

*/

body {
}

.checking-form.sldr .bk_now {
	background: linear-gradient(to right, #02b1ee, #21c0f7);
}

.lnk-default {
	background: linear-gradient(to right, #02b1ee, #21c0f7);

}

	.lnk-default:before, .lnk-default:after {
		background-color: #02b1ee;
	}

.svr-text > .lnk-default {
	border: 2px solid #02b1ee;
	color: #02b1ee;
}


.lyr3 {	 
	background: linear-gradient(to right, #02b1ee, #21c0f7);
}
 
.resot-dv:hover .resot-icon {
	/* background-color: #ff6d5e; */
	color: #02b1ee;
}

.resot-dv:hover .resot-icon {
	background-color: #02b1ee;	 
}

.testi > span {	 
	color: #02b1ee;	 
}

.price-tag {
	background-color: #02b1ee;
}

.tb-detaiils .tb-row .room_info .fct-dv .lnk-default {
	background-color: #02b1ee;
}

.page-item.active .page-link, .page-item.active .page-link:hover {
	background-color: #02b1ee;
}

.sidebar .check-status {
	background-color: #02b1ee;
}


.post-comment .form-submit button.lnk-default {
	background-color: #02b1ee;
}


.ui-slider-horizontal .ui-slider-range {
	background-color: #02b1ee;
}

.ui-slider-horizontal .ui-slider-handle {
	border: 2px solid #02b1ee;
}



.widget-newsletter > form button {
	background-color: #02b1ee;
}

	.widget-newsletter > form button:hover {
		background-color: #03739a;
	}



.resumeBook {
	border: 2px solid #02b1ee !important;
}

.booking-tabs-list .nav-tabs li a.nav-link.active span {
	background-color: #02b1ee;
}

.BtnMirarOpciones {
	background-color: #02b1ee;
}

.social-links ul li a:hover {
	background-color: #02b1ee;
}

/* actualizacion colores calendario*/

	.flatpickr-day.selected, .flatpickr-day:hover {
		background-color: #02b1ee;
	}

/* Termina actualizacion colores calendario*/

 


.room_info .lnk-default:before, .room_info .lnk-default:after {
	background-color: #0087b8;
}

.similar-rooms .room_info .lnk-default:before, .similar-rooms .room_info .lnk-default:after {
	background-color: #02b1ee;
}

.similar-rooms .room_info .lnk-default {
	border-color: #02b1ee;
}

.seachby li input[type="checkbox"]:checked + label span {
	background-color: #02b1ee;
}


.tb-detaiils .room_info .lnk-default {
	background-color: #02b1ee;
}

.post-comment .form-submit button.lnk-default:before, .post-comment .form-submit button.lnk-default:after {
	background-color: #02b1ee;
}

.post-comment .form-submit button.lnk-default:hover {
	border-color: #02b1ee;
}