﻿
@{
    ViewData["Title"] = "Nosotros";
}

<section class="pager-sec" style="background-image:url(@(ViewBag?.Nosotros?.ImagenPrincipalFullPath))">
    <div class="container">
        <div class="pager-sec-details">
            <h3>@ViewData["Title"]</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->
|

<section class="c-block white-bg">
    <div class="container">
        <div class="about-us-sec about-pg">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about_we">
                        <h2>@ViewBag?.Nosotros?.Titulo</h2>

                        <br />
                        <p>@ViewBag?.Nosotros?.Texto</p>

                    </div><!--about_we end-->
                </div>
                <div class="col-lg-7 p-0">
                    <ul class="abt_img">
                        <li>
                            <img src="@ViewBag?.Nosotros?.ImagenSecundaria1FullPath" alt="">
                        </li>
                        <li>
                            <img src="@ViewBag?.Nosotros?.ImagenSecundaria2FullPath" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--about-us-sec end-->
    </div>
</section><!--about-us end-->

<section class="c-block resot-sec">
    <div class="container">
        <div class="sec-title">
            <h3>¿POR QUÉ NOSOTROS?</h3>
        </div><!--sec-title end-->
        <div class="resot_sec">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-wifi"></i>
                        </div>
                        <h3>WIFI</h3>
                        <p>Cuente con señal wifi en todas las áreas y habitaciones del hotel durante toda su estadía.</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-angellist"></i>
                        </div>
                        <h3>GARANTÍA</h3>
                        <p>Con nuestra amplía trayectoria en el sector turístico le podemos garantizar total comodidad durante su estadía.</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-diamond"></i>
                        </div>
                        <h3>CALIDAD</h3>
                        <p>Gracias a nuestra experiencia hemos podido establecer las mejores practicas para atenderlo siempre de la mejor manera</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-globe"></i>
                        </div>
                        <h3>GLOBAL</h3>
                        <p>Hemos tenido el privilegio de poder atender de la mejor manera a invitados de todo alrededor del mundo.</p>
                    </div><!--resot-dv end-->
                </div>
            </div>
        </div><!--resot_sec end-->
    </div>
</section>

 
<section class="main-slider relax-sec seccionVideo">
    <div id="rev_slider_476_1_wrapper2" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_476_2" class="rev_slider" style="display:none;" data-version="5.3.0.2">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <img src="@ViewBag?.Nosotros?.ImagenFondoVideoFullPath" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="tp-caption   tp-resizeme fullscreenvideo  disable-layer tp-videolayer"
                         id="lordcros-video-bg"
                         data-x="0"
                         data-y="0"
                         data-whitespace="nowrap"
                         data-type="video"
                         data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-ytid="@ViewBag?.Nosotros?.UrlVideo" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&showinfo=0&rel=0;;origin=https://lordcros.c-themes.com;" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-autoplay="off"
                         data-volume="mute"
                         data-allowfullscreenvideo="true"
                         style="z-index: 5;">
                    </div>

                    <!-- LAYER NR. 3 -->

                    <h2 class="tp-caption   tp-resizeme"
                        id="slide-2-layer-1"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-71','-71','-71','-71']"
                        data-fontsize="['30','30','30','20']"
                        data-lineheight="['38','38','38','28']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":460,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 38px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto Slab;text-transform:uppercase;">
                        @ViewBag?.Nosotros?.Titulo1Video
                    </h2>

                    <!-- LAYER NR. 4 -->

                    <div class="tp-caption tp-resizeme"
                         id="slide-2-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-34','-34','-34','-34']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":1090,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;text-transform:uppercase;">@ViewBag?.Nosotros?.Titulo2Video</div>

                    <!-- LAYER NR. 5 -->

                    <div class="tp-caption vid_play tp-resizeme"
                         id="slide-2-layer-3"
                         data-x="center" data-hoffset="-10"
                         data-y="center" data-voffset="50"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-actions='[{"event":"click","action":"toggleclass","layer":"lordcros-video-bg","delay":"0","classname":"disable-layer"},{"event":"click","action":"playvideo","layer":"lordcros-video-bg","delay":"500"}]'
                         data-responsive_offset="on"
                         data-frames='[{"delay":1500,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10;">
                        <div class="lordcros-video-btn"> <img src="images/icon-play.png" alt=""> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--Revolution Slider end-->
</section><!--MAIN-SLIDER END-->



<section class="c-block testimonial-sec">
    <div class="container">
        <div class="sec-title">
            <h3>COMENTARIOS HUÉSPEDES</h3>
        </div><!--sec-title end-->
        <div class="testimonial-carousel">

            @if (ViewBag.NosotrosComentarios != null && ViewBag.NosotrosComentarios.Count > 0)
            {
                foreach (var item in ViewBag.NosotrosComentarios)
                {
                    <div class="testi">
                        <div class="ts-img">
                            <img src="@item.FotoFullPath" alt="">
                        </div>
                        <h3>@item.Nombre</h3>
                        <span>@item.Puesto</span>
                        <p class="multi-line-truncate">@item.DescripcionComentario</p>
                    </div><!--testi end-->
                }
            }





        </div><!--testimonial-carousel end-->
    </div>
</section><!--TESTIMONIAL-SEC END-->

@section Scripts{
    <script src="~/lib/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/lib/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/lib/revolution/js/revolution.extension.actions.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.carousel.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.kenburn.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.layeranimation.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.migration.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.navigation.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.parallax.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.slideanims.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.video.min.js"></script>
    <script src="~/lib/revolution/js/revolution.initialize.js"></script>
    <script src="~/lib/revolution/js/revolution.initialize10.js"></script>
}

<script>
      $('.lordcros-video-btn').on('click', function (ev) {
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(3)").css("display", "none");		
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(4)").css("display", "none");		
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(5)").css("display", "none");		
    });
</script>