﻿@{
    ViewData["Title"] = "Políticas de Cancelación";
}
<section class="pager-sec" style=" background-image: url(@ViewBag?.ImageHeader ); ">
    <div class="container">
        <div class="pager-sec-details">
            <h3>POLÍTICAS DE CANCELACIÓN</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->

<section class="c-block  msg-sec">

    <div class="container">
        <div class="contact_sec">
            <div class="row terminos">
                <div class="col-lg-12">
                    <div class="terminosCondicionesReset">
                        @Html.Raw(ViewBag?.Footer?.PoliticaCancelacion)
                    </div><!--contact_info end-->
                </div>
            </div>
        </div><!--contact_sec end-->
    </div>
</section><!--CONTACT-SEC END-->
