﻿
@{
	ViewData["Title"] = "Habitaciones";
}
 
<section class="pager-sec"  style="background-image: url(@ViewBag?.Footer?.URLHabitacionesFullPath)">
	<div class="container">
		<div class="pager-sec-details">
			<h3>NUESTRAS HABITACIONES</h3>
		</div><!--pager-sec-details end-->
	</div>
</section><!--pager-sec end-->

<section class="main-content">
	<div class="container">
		<div class="page-content">
			<div class="main-dv listadoHabitaciones">
				<div class="main-dv-head">
					<ul class="pc-list">
						<li>
							<div class="lang-slct">
								<div class="custom-select">
									<select id="SltPrecioFiltro" name="SltPrecioFiltro">
										<option value="-1">Filtrar por Precio</option>

										@if (ViewBag.PreciosHabitaciones != null && ViewBag.PreciosHabitaciones.Count > 0)
										{
											@foreach (var item in ViewBag.PreciosHabitaciones)
											{
												<option value="@(item.Precio)">@string.Format("{0:C}", item.Precio) </option>
											}
										}
									</select>
								</div>
							</div><!--lang-select end-->
						</li>
					</ul><!--pc-list end-->
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false"><img src="~/images/bar-icon1.png" alt=""></a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><img src="~/images/bar-icon2.png" alt=""></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div><!--main-dv-head end-->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="tb-detaiils v13">
							<div class="row" id="rowHab1">
							</div>
						</div><!--tb-detaiils end-->
					</div>
					<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="tb-detaiils" id="rowHab2">
						</div><!--tb-detaiils end-->
					</div>
				</div>
				<div class="lc-pagination">
					<nav>
						<ul class="pagination" id="HabPaginacion">
						</ul>
					</nav>
				</div><!--lc-pagination end-->
			</div><!--main-dv end-->
		</div><!--page-content end-->
	</div>
</section><!--main-content end-->

<input type="hidden" value="@ViewBag.FechaIniCheck" id="FechaIniCheck" name="FechaIniCheck" />
<input type="hidden" value="@ViewBag.fechaFinCheck" id="fechaFinCheck" name="fechaFinCheck" />
<input type="hidden" value="@ViewBag.huespedes" id="huespedes" name="huespedes" />
<input type="hidden" value="@ViewBag.ninos" id="ninos" name="ninos" />



<script src="~/js/jquery.min.js"></script>
<!-- <script src="~/js/habitacionFiltro.js"></script> -->
<script>
    function ReservarHabitacion(codHab) {
		window.location.href = $('#URL_BASE').val() + "habitacion/index?id=" + codHab + "&FechaIniCheck=" + $("#FechaIniCheck").val() + "&fechaFinCheck=" + $("#fechaFinCheck").val() + "&huespedes=" + $("#huespedes").val() + "&children=" + $("#ninos").val() +"&revificacionIncial=0&nfb=0";
    }
</script>



<script>
    var textoFiltro = "Control";
    var dataControl = "";
    var fechaInicioControl = "";
    var fechaFinalControl = "";
    var huespedesControl = "";
	var numHabPorPag = 6;
	var ControSweetModalRedireccionar = 1;


    $(document).ready(function () {
        ConsultaWebService(1)
    });



    function ConsultaWebService(NumPagina) {
        ControSweetModalRedireccionar = 1;
        var PrecioFiltro = $(".select-selected").html();
        if (textoFiltro == "") {
            return;
        }

		var FechaInicio = $("#FechaIniCheck").val();
		var FechaFinal = $("#fechaFinCheck").val();

		console.log(FechaInicio);
		console.log(FechaFinal);

        var hoy = new Date();
        var FechaActual = hoy.getFullYear() + "-" + (hoy.getMonth() + 1) + "-" + hoy.getDate();
        console.log("Fecha actual:" + FechaActual);
        var TotalHuespedes = $("#huespedes").val();
        var TotalHuespedes = $("#huespedes").val();
        var children = $("#ninos").val();

		if ((Date.parse(FechaInicio)) > (Date.parse(FechaFinal)) || FechaInicio == FechaFinal) {// || Date.parse(FechaInicio) < Date.parse(FechaActual)){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Fechas incorrecotas!'
            })
            return false;
        }

        $.ajax({
			url: $('#URL_BASE').val() + "Reservacion/BusquedaHabitaciones?FechaInicio=" + FechaInicio + "&FechaFinal=" + FechaFinal + "&TotalHuespedes=" + TotalHuespedes + "&children=" + children,
            success: function (data) {
                 
                var html = "";
				if (data.IsSuccess == true) {
					console.log(data);
					dataControl = data;
					fechaInicioControl = FechaInicio;
					fechaFinalControl = FechaFinal;
					huespedesControl = TotalHuespedes;
					console.log(data);
					filtroHabitaciones(data, 1, 1);
					Swal.close();

					if (data.Result.listaHabitaciones.length == 0) {

						Swal.fire({
							icon: 'warning',
							showConfirmButton: false,
							showCloseButton: true,
							title: '¡UPSS!',
							html:
								"<div class='verificacionFail'>" +
								"<div>PARA ESTAS FECHAS YA NO TENEMOS ESPACIO, SELECCIONA OTRAS</div>" +
								"<div class='BtnMirarOpciones' onclick='MasOpciones()' >VER FECHAS</div>" +
								"</div>",
							onClose: function () {
								if (ControSweetModalRedireccionar == 1) {
									window.location.href = $('#URL_BASE').val() + "Home/index";
								}
							}
						})

					}
				}
				else {
                     Swal.close();
				}

            },
            beforeSend: function () {
                Swal.fire({                    
	                 allowOutsideClick: false,
	                 showConfirmButton: false,
	                 showClass: {
		                popup: 'animated fadeIn faster'
	                  },
	                 customClass: {
				                container: 'sweetLoadingcontent'                            
			                  },
					html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val() +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                "</lottie-player></div>"
                });
            }
        }).done(function () {
            /*
            $.holdReady(true);
            $.getScript("/js/lib/slick/slick.js", function () {
                $.holdReady(false);
            }); */

        });
    }

    function IniciarConsulta() {
        var FechaInicio = $(".avail-sec li:nth-child(1) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "-" + $(".avail-sec li:nth-child(1) .val-date").html();
        var FechaFinal = $(".avail-sec li:nth-child(2) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "-" + $(".avail-sec li:nth-child(2) .val-date").html();
        var TotalHuespedes = $(".avail-sec .input-fieldd input").val();

        if (FechaInicio != fechaInicioControl || FechaFinal != fechaFinalControl || TotalHuespedes != huespedesControl) {
            fechaInicioControl = FechaInicio;
            fechaFinalControl = FechaFinal;
            huespedesControl = TotalHuespedes;
            ConsultaWebService(0);
        }
        else {
            filtroHabitaciones(dataControl, 1, 0)
        }

    };


    function filtroHabitaciones(data, NumPagina, ConsultarAjax) {
        var listaHabitacionesData = data.Result.listaHabitaciones;
        var arrayServiciosActivos = new Array();
        var arrayHabitacionesFiltroServicio = new Array();
        var arrayHabitacionFiltro1 = new Array();
        var arrayHabitacionesTotales = new Array();
        var arrayHabitacionesPaginadas = new Array();


        //ConsultarAjax: 1 genero precios. osea vino del ajax 0  trabajo con datos en javascript
		if (ConsultarAjax == 1) {
			GenerarDivPrecios(data.PreciosHabitaciones);
            arrayHabitacionesTotales = listaHabitacionesData;
		}
		else {

            //Filtrado de precios --------------
            var precioFiltro = $(".select-selected").html();
            precioFiltro = precioFiltro.substring(1, precioFiltro.length)
            if (!isNaN(precioFiltro)) {
                for (var i = 0; i < listaHabitacionesData.length; i++) {
                    if (parseFloat(listaHabitacionesData[i].Precio) <= parseFloat(precioFiltro)) {
                        arrayHabitacionesTotales.push(listaHabitacionesData[i]);
                    }
                }

            }
            else {
                arrayHabitacionesTotales = listaHabitacionesData;
            }
		}




        /*
        if (updateServices == 1) {
            GenerarServicios(data.ServBusqueda);
            GenerarDivPrecios(data.PreciosHabitaciones);
            arrayHabitacionesTotales = listaHabitacionesData;
            $("#amount").val("$0 - $10000");
        }
        else {
            //Filtrado de servicios --------------
            $("input:checkbox[name=ccServicio]:checked").each(function () {
                arrayServiciosActivos.push($(this).val());
            });

            if (arrayServiciosActivos.length > 0) {
                for (var i = 0; i < listaHabitacionesData.length; i++) {
                    var ContServ = 0;
                    for (var j = 0; j < listaHabitacionesData[i].Servicios.length; j++) {
                        for (var k = 0; k < arrayServiciosActivos.length; k++) {
                            if (listaHabitacionesData[i].Servicios[j].CodServicio == arrayServiciosActivos[k]) {
                                ContServ++;
                            }
                        }
                    }

                    if (ContServ == arrayServiciosActivos.length) {
                        arrayHabitacionesFiltroServicio.push(listaHabitacionesData[i]);
                    }
                }
            }

            else {
                arrayHabitacionesFiltroServicio = listaHabitacionesData;
            }

            //Filtrado de precios --------------
            var precioFiltro = $(".select-selected").html();
            precioFiltro = precioFiltro.substring(1, precioFiltro.length)
            if (!isNaN(precioFiltro)) {
                for (var i = 0; i < arrayHabitacionesFiltroServicio.length; i++) {
                    if (parseFloat(arrayHabitacionesFiltroServicio[i].Precio) <= parseFloat(precioFiltro)) {
                        arrayHabitacionFiltro1.push(arrayHabitacionesFiltroServicio[i]);
                    }
                }

            }
            else {
                arrayHabitacionFiltro1 = arrayHabitacionesFiltroServicio;
            }

            //Filtrado de precios2

            var rangos = ObtenerRangoBusquedaPrecios();
            if (arrayHabitacionFiltro1.length > 0) {
                for (var i = 0; i < arrayHabitacionFiltro1.length; i++) {
                    if (parseFloat(arrayHabitacionFiltro1[i].Precio) >= parseFloat(rangos[0]) && parseFloat(arrayHabitacionFiltro1[i].Precio) <= parseFloat(rangos[1])) {
                        arrayHabitacionesTotales.push(arrayHabitacionFiltro1[i]);
                    }

                }
            }
        }  */

        //Filtro las habitaciones que se veran por pagina
        if (arrayHabitacionesTotales.length > 0) {
            var numPrimerHab = ((NumPagina - 1) * numHabPorPag);
            var numHabFinal = ((numPrimerHab + numHabPorPag - 1) < (arrayHabitacionesTotales.length - 1)) ? (numPrimerHab + numHabPorPag - 1) : (arrayHabitacionesTotales.length - 1);
            for (i = numPrimerHab; i <= numHabFinal; i++) {
                arrayHabitacionesPaginadas.push(arrayHabitacionesTotales[i]);
            }
        }

        GenerarHtmlHabitaciones(arrayHabitacionesPaginadas, NumPagina);
        GenerarPaginas(arrayHabitacionesTotales.length, NumPagina);
    }


    function GenerarHtmlHabitaciones(resultado) {

        //---------------------------------------------------
        // Para la primera vista del habitaciones
        var htmlHabitaciones1 = "";
        for (var i = 0; i < resultado.length; i++) {
			htmlHabitaciones1 = htmlHabitaciones1 +
				"<div class='col-lg-4 col-md-6'>" +
				"	<div class='room_details CardVertical'>" +
				"		<div class='room-caroz'>";

			for (var j = 0; j < resultado[i].Fotos.length; j++) {
				htmlHabitaciones1 = htmlHabitaciones1 +
					"			<div class='room_img'>" +
					"				<img src='" + resultado[i].Fotos[j].Imagen + "' alt=''>" +
					"				<span class='price-tag'> $" + (resultado[i].Precio).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "<b>/Noche</b></span>" +
					"			</div><!--room_img end-->";
			}

			htmlHabitaciones1 = htmlHabitaciones1 +
				"		</div><!--room-caroz end-->" +
				"		<div class='room_info'>" +
				"			<h3 class='one-line-truncate'><a href='javascript:;'  onclick='reservarHabitacion(" + resultado[i].CodTipoHab + ")' title=''>" + resultado[i].NombreTipoHab + "</a></h3>" +
				"			<p class='multi-line-truncate'>" + resultado[i].Descripcion + "</p>" +
				"			<ul class='fct-list h-70'>";

			for (var k = 0; k < resultado[i].Servicios.length; k++) {
				htmlHabitaciones1 = htmlHabitaciones1 +
					"				<li>" +
					"					<span data-toggle='tooltip' data-placement='top' title='" + resultado[i].Servicios[k].NomServicio + "'><img style='width: 100%;' src='" + resultado[i].Servicios[k].IconoFullPath + "' alt=''></span>" +
					"				</li>";
			}

			htmlHabitaciones1 = htmlHabitaciones1 +
				"			</ul><!--fct-list end-->" +
				"			<a href='javascript:;' title='' class='lnk-default' onclick='ReservarHabitacion(" + resultado[i].CodTipoHab + "," + resultado[i].Precio + ")'>VER HABITACIÓN<i class='la la-arrow-right'></i></a>" +
				"		</div><!--room_info end-->" +
				"	</div><!--room-details end-->" +
				"</div>";
		}
		$("#rowHab1").html(htmlHabitaciones1);

        //---------------------------------------------------
        // Para la segunda vista del habitaciones
        var htmlHabitaciones2 = "";
        for (var i = 0; i < resultado.length; i++) {
            htmlHabitaciones2 = htmlHabitaciones2 +
                "<div class='tb-row' >" +
                "	<div class='room_details'>" +
                "		<div class='room-caroz'>";

            for (var j = 0; j < resultado[i].Fotos.length; j++) {
                htmlHabitaciones2 = htmlHabitaciones2 +
                    "			<div class='room_img'>" +
                    "				<img src='" + resultado[i].Fotos[j].Imagen + "' alt=''>" +
                    "				<span class='price-tag'>$" + (resultado[i].Precio).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "<b>/Noche</b></span>" +
                    "			</div><!--room_img end-->";
            }

            htmlHabitaciones2 = htmlHabitaciones2 +
                "		</div><!--room-caroz end-->" +
                "		<div class='room_info'>" +
                "			<h3  class='one-line-truncate'>" + resultado[i].NombreTipoHab + "</h3>" +
                "			<p class='multi-line-truncate list'>" + resultado[i].Descripcion + " </p>" +
                "			<div class='fct-dv'>" +
                "				<ul class='fct-list'>";

            for (var k = 0; k < resultado[i].Servicios.length; k++) {
                htmlHabitaciones2 = htmlHabitaciones2 +
                    "					<li>" +
                    "						<span data-toggle='tooltip' data-placement='top' title='" + resultado[i].Servicios[k].NomServicio + "'><img style='width: 100%;' src='" + resultado[i].Servicios[k].IconoFullPath + "' alt=''></span>" +
                    "					</li>";
            }

            htmlHabitaciones2 = htmlHabitaciones2 +
                "				</ul><!--fct-list end-->" +
                "				<a  title='' class='lnk-default divPointer' onclick='ReservarHabitacion(" + resultado[i].CodTipoHab + "," + resultado[i].Precio + ")'>RESERVAR<i class='la la-arrow-right'></i></a>" +
                "				<div class='clearfix'></div>" +
                "			</div>" +
                "		</div><!--room_info end-->" +
                "		<div class='clearfix'></div>" +
                "	</div><!--room-details end-->" +
                "</div><!--tb-row end-->";
        }

        $("#rowHab2").html(htmlHabitaciones2);

        //Ejecuto js formato cards habitaciones
        $.holdReady(true);
		$.getScript($('#URL_BASE').val() + "js/lib/slick/slick.js", function () {
            $.holdReady(false);
        });

    }

    function GenerarPaginas(numPagTotales, NumPagina) {
        if (numPagTotales > numHabPorPag) {
            var htmlPaginacion = "";
            for (var i = 1; i <= Math.ceil(numPagTotales / numHabPorPag); i++) {
                var active = (i == NumPagina) ? "active" : "";
                htmlPaginacion = htmlPaginacion + "<li class='page-item " + active + "'><a class='page-link' onClick='BuscarhabitacionPagina(" + i + ")')' style='cursor: pointer;' >" + i + "</a></li>";
            }
            $("#HabPaginacion").html(htmlPaginacion);

        }
        else {
            $("#HabPaginacion").html("");
        }
    }

    function GenerarServicios(servicios) {
        var htmlServicios = "";
        for (var i = 0; i < servicios.length; i++) {
            htmlServicios = htmlServicios + "" +
                "<li>" +
                "	<div class='inp-field'>" +
                "		<input type='checkbox' name='ccServicio' id='c" + (i + 1) + "' value ='" + servicios[i].CodServicio + "' >" +
                "		<label for='c" + (i + 1) + "'><span></span><b>" + servicios[i].NomServicio + "</b></label>" +
                "	</div>" +
                "</li>";
        }

        $("#UlServices").html(htmlServicios);
    }

    function GenerarDivPrecios(precios) {
        htmlselectPrecios = "<select id='SltPrecioFiltro' name='SltPrecioFiltro'><option value='0'>Filtrar por Precio</option>";
        for (var i = 0; i < precios.length; i++) {
            htmlselectPrecios = htmlselectPrecios + "<option value='" + precios[i] + "'>$" + (precios[i]).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</option>";
        }
        htmlselectPrecios = htmlselectPrecios + "</select>";
        $(".custom-select").html("");
        $(".custom-select").html(htmlselectPrecios);

        $.holdReady(true);
		$.getScript($('#URL_BASE').val() + "js/custom-select.js", function () {
            $.holdReady(false);
        });
    }

    function BuscarhabitacionPagina(numPagina) {
        filtroHabitaciones(dataControl, numPagina, 0);
    }

    function ObtenerRangoBusquedaPrecios() {
        var RangoText = ($("#amount").val());
        var rangoArray = RangoText.split("-");
        var rangoFormat = new Array();
        rangoFormat.push(rangoArray[0].substring(1, (rangoArray[0].length - 1)));
        rangoFormat.push(rangoArray[1].substring(2, (rangoArray[1].length)));
        return rangoFormat;
	}

    //No eliminar todavia, puede que sirva para cuando se tenga que hacer la reservacion en la habitacion
    /*
    function ReservarHabitacionXX(IdHabitacion, TotalReservacion) {


        Swal.fire({
            title: 'Desea Continuar?',
            text: "La reservacion se realizara!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Reservar!'
        }).then((result) => {
            if (result.value) {
                var FechaInicio = $(".avail-sec li:nth-child(1) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(1) .month").html()) + "-" + $(".avail-sec li:nth-child(1) .val-date").html();
                var FechaFinal = $(".avail-sec li:nth-child(2) .year").html() + "-" + fechaInt($(".avail-sec li:nth-child(2) .month").html()) + "-" + $(".avail-sec li:nth-child(2) .val-date").html();
                var TotalHuespedes = $(".avail-sec .input-fieldd input").val();

                $.ajax({
                    type: "POST",
                    url: "/Reservaciones/RealizarReserva?CodTipoHab=" + IdHabitacion + "&FechaLlegada=" + FechaInicio + "&FechaSalida=" + FechaFinal + "&huespedes=" + TotalHuespedes + "&TotalReservacion=" + TotalReservacion,
                    success: function (data) {
                        console.log(data);
                        if (data.IsSuccess == true) {
                            Swal.fire(
                                'Reservacion Exitosa!!',
                                'Su codigo de reserva es:' + data.Result.CodReserva,
                                'success'
                            )
                        }
                        else {
                            Swal.fire(
                                'Error !!',
                                'No se pudo realizar la reservacion',
                                'error'
                            )

                        }
                    },
                    beforeSend: function () {
                        //---
                    }
                }).done(function () {
                });
            }
        })
	}
    */

	$("body").on('DOMSubtreeModified', ".select-selected", function () {
		textoFiltro = $(".select-selected").html();
		if (textoFiltro != "") {
             filtroHabitaciones(dataControl, 1, 0)
		}
	});

	function MasOpciones() {
		ControSweetModalRedireccionar = 0;
        swal.close();
		$('#ModalReservacion').modal('show');
    }


</script>