﻿@{
    ViewData["Title"] = "Galería";
}

<style>
	.imgGaleria{
		min-height:100%;
	}
</style>

<section class="pager-sec" style="background-image: url(@ViewBag?.HeaderGaleria) !important;">
    <div class="container">
        <div class="pager-sec-details">
            <h3>@ViewData["Title"]</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->

<section class="c-block pb-5">
    <div class="container">
        <div class="sec-title">
            <h3>GALERÍA</h3>
        </div><!--sec-title end-->
        <div class="gallery-grid">
			<ul class="nav nav-tabs" id="myTab" role="tablist">

				@if (ViewBag.GaleriaImagenes != null && ViewBag.GaleriaImagenes.Count > 0)
				{
					@foreach (var item in ViewBag.GaleriaImagenes)
					{
						<li class="nav-item">
							<a class="nav-link @(item.Active)" id="tab_@(item.Tab)" data-toggle="tab" href="#tab@(item.Tab)" role="tab" aria-controls="tab_@(item.Tab)" aria-selected="@(item.Tab)">@(item.TabName) </a>
						</li>
					}

				}
			</ul>
			<div class="tab-content galeriaCatarata" id="myTabContent">

				@if (ViewBag.GaleriaImagenes != null && ViewBag.GaleriaImagenes.Count > 0)
				{
					@foreach (var item in ViewBag.GaleriaImagenes)
					{
						<div class="tab-pane fade @(item.ClassTabContent) " id="tab@(item.Tab)" role="tabpanel" aria-labelledby="tab_@(item.Tab)">
							<div class="gallery-grid">
								<div class="row">

									@if (item.Galeria != null && item.Galeria.Count > 0)
									{
										foreach (var galeria in item.Galeria)
										{
											<div class="col-lg-4 col-md-4 col-sm-6">
												<div class="gd-item">
													<img src="@galeria.ImageFullPath" class="imgGaleria" alt="">
												</div><!--gd-item end-->
											</div>
										}
									}
								</div>
							</div><!--gallery-grid end-->
						</div>
					}
				}
			</div>
        </div><!--gallery-grid end-->
    </div>
</section>

<script>
    //correcion height para imagenes
	 
    $(function() {
    var div = $('.gd-item');
    var width = div.width(); 
		var nuevaAltura = (width / 100 * 60);
		div.css('height', nuevaAltura);	          
		if ($('.gd-item img').height() < ($('.gd-item img').width() / 100 * 60)){
			$('.gd-item img').height("100%");
		}
		console.log("xx");
});  
</script>