﻿
@{
    ViewData["Title"] = "Servicios";
}

<section class="pager-sec" style="background-image: url(@ViewBag?.Servicio?.ImagenPrincipalFullPath)">
    <div class="container">
        <div class="pager-sec-details">
            <h3>SERVICIOS</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->

<section class="c-block pb-0">
    <div class="container">
        <div class="resot_sec">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-wifi"></i>
                        </div>
                        <h3>WIFI</h3>
                        <p>Cuente con señal wifi en todas las áreas y habitaciones del hotel durante toda su estadía.</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-angellist"></i>
                        </div>
                        <h3>GARANTÍA</h3>
                        <p>Con nuestra amplía trayectoria en el sector turístico le podemos garantizar total comodidad durante su estadía.</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-diamond"></i>
                        </div>
                        <h3>CALIDAD</h3>
                        <p>Gracias a nuestra experiencia hemos podido establecer las mejores prácticas para atenderlo siempre de la mejor manera</p>
                    </div><!--resot-dv end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="resot-dv">
                        <div class="resot-icon">
                            <i class="la la-globe"></i>
                        </div>
                        <h3>GLOBAL</h3>
                        <p>Hemos tenido el privilegio de poder atender de la mejor manera a invitados de todo alrededor del mundo.</p>
                    </div><!--resot-dv end-->
                </div>
            </div>
        </div><!--resot_sec end-->
    </div>
</section>

<section class="c-block">
    <div class="container">
        <div class="blog-items services_sec">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img src="@ViewBag?.Servicio?.Imagen1FullPath" alt="" style="height: 46vh;">
                        </div>
                        <div class="blog-info">
                            <h3 class="post-title"><a href="#" title="">@ViewBag?.Servicio?.Titulo1</a></h3>
                        </div>
                    </div><!--blog end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img src="@ViewBag?.Servicio?.Imagen2FullPath" alt="" style="height: 46vh;">
                        </div>
                        <div class="blog-info">
                            <h3 class="post-title"><a href="#" title="">@ViewBag?.Servicio?.Titulo2</a></h3>
                        </div>
                    </div><!--blog end-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img src="@ViewBag?.Servicio?.Imagen3FullPath" alt="" style="height: 46vh;">
                        </div>
                        <div class="blog-info">
                            <h3 class="post-title"><a href="#" title="">@ViewBag?.Servicio?.Titulo3</a></h3>
                        </div>
                    </div><!--blog end-->
                </div>
            </div>
        </div><!--blog-items end-->
    </div>
</section>
