﻿
@{
    ViewData["Title"] = "Inicio";
}



<section class="main-slider">
    <div id="rev_slider_476_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_476_1" class="rev_slider" style="display:none;" data-version="5.3.0.2">
            <ul>

                @if (ViewData["HomeBanner"] != null)
                {
                    foreach (var item in (List<HomeBanner>)ViewData["HomeBanner"])
                    {
                        <!-- SLIDE  -->
                        <li data-index="rs-@(item.Id)" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <img src="@item.ImageFullPath" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <div class="tp-caption lyr1 tp-resizeme"
                                 id="slide-1-layer-1"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="0"
                                 data-width="['auto','auto','auto','auto']"
                                 data-height="['auto','auto','auto','auto']"
                                 data-paddingtop="[15,15,15,15]"
                                 data-paddingright="[40,40,40,40]"
                                 data-paddingbottom="[15,15,15,15]"
                                 data-paddingleft="[40,40,40,40]"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-start="200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-elementdelay="0.05"
                                 style="">
                                @item.Texto1
                            </div>

                            <div class="tp-caption lyr2 tp-resizeme"
                                 id="slide-1-layer-2"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="73"
                                 data-width="['auto','auto','auto','auto']"
                                 data-height="['auto','auto','auto','auto']"
                                 data-paddingtop="[15,15,15,15]"
                                 data-paddingright="[40,40,40,40]"
                                 data-paddingbottom="[15,15,15,15]"
                                 data-paddingleft="[40,40,40,40]"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                 data-start="200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-elementdelay="0.05"
                                 style="">
                                @item.Texto2
                            </div>
                            <!-- LAYER NR. 3 -->
                            <a asp-action="Index" asp-controller="Nosotros" title="" class="tp-caption lyr3 hv2 tp-resizeme"
                               id="slide-1-layer-3"
                               data-x="center" data-hoffset="0"
                               data-y="center" data-voffset="164"
                               data-width="['auto','auto','auto','auto']"
                               data-height="['auto','auto','auto','auto']"
                               data-paddingtop="[29,29,29,29]"
                               data-paddingright="[37,37,37,37]"
                               data-paddingbottom="[27,27,27,27]"
                               data-paddingleft="[37,37,37,37]"
                               data-transform_idle="o:1;"
                               data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeOut;"
                               data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                               data-start="500"
                               data-splitin="none"
                               data-splitout="none"
                               data-responsive_offset="on"
                               data-elementdelay="0.05"
                               style="">
                                Conocer Más
                            </a>
                            <div class="tp-caption lyrimg tp-resizeme"
                                 id="slide-1648-layer-1"
                                 data-x="center" data-hoffset="0"
                                 data-y="center" data-voffset="67"
                                 data-width="['auto']"
                                 data-height="['auto']"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 data-start="500"
                                 data-splitin=""
                                 data-splitout="none"
                                 data-elementdelay="0.02"
                                 style="">
                            </div>
                        </li>
                        <!-- SLIDE  -->
                    }
                }
            </ul>
        </div>
    </div><!--Revolution Slider end-->
    <div class="scroller-div">
        <a class="an-down" href="#bt-sec" title=""><i class="la la-angle-down"></i></a>
        <span class="rotate">Scroll</span>
        <span class="dwn">Down</span>
    </div><!--scroller-div end-->
    <div class="checking-form sldr formBookBody">
        <ul class="checkform">
            <li>
                <div class="check-form">
                    <h4>INGRESO</h4>
                    <div class="det">
                        <b class="val-date">@DateTime.Now.Day</b>
                        <span>
                            <i class="month">@ViewBag.MesActFormat</i> <i class="year">@DateTime.Now.Year</i>
                        </span>
                    </div>
                    <a href="javascript:;" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                    <input id="EntradaBuscar" type="text" name="date-in" class="date-pick" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                    <div class="clearfix"></div>
                </div><!--check-form end-->
            </li>
            <li>
                <div class="check-form">
                    <h4>SALIDA</h4>
                    <div class="det">
                        <b class="val-date">@DateTime.Now.AddDays(1).Day</b>
                        <span>
                            <i class="month">@ViewBag.MesActFormatSalida</i> <i class="year">@DateTime.Now.AddDays(1).Year</i>
                        </span>
                    </div>
                    <a href="javascript:;" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
                    <input id="SalidaBuscar" type="text" name="date-out" class="date-pick" value="@DateTime.Now.AddDays(1).Date.ToString("yyyy-MM-dd")">
                    <div class="clearfix"></div>
                </div><!--check-form end-->
            </li>
            <li class="item-cont borderRigh">
                <div class="check-form">
                    <h4 class="text-center">ADULTO</h4>
                    <div class="det" id="guessAdultos">
                        <div class="handle-counter" id="handleCounter">
                            <ul>
                                <li class="input-fieldd"><input type="text" value="2" data-num="2" id="totalHuespdes"></li>
                                <li class="counter-control">
                                    <button class=" counter-plus btn"><i class="fa fa-angle-up"></i></button>
                                    <button class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--check-form end-->
                <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
            </li>

            <li class="item-cont ">
                <div class="check-form">
                    <h4 class="text-center">NIÑOS</h4>
                    <div class="det" id="guessNinos">
                        <div class="handle-counter" id="handleCounter">
                            <ul>
                                <li class="input-fieldd"><input type="text" value="0" data-num="1" id="totalNinos"></li>
                                <li class="counter-control">
                                    <button class=" counter-plus btn"><i class="fa fa-angle-up"></i></button>
                                    <button class="counter-minus btn"><i class="fa fa-angle-down"></i></button>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--check-form end-->
                <a href="#" title="" class="arw-down"><i class="fa fa-angle-down"></i></a>
            </li>


            <li class="wuto">
                <div class="bk_now divPointer" id="checkReservacion">
                    <a title="">BUSCAR</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div><!--checking-form end-->
</section><!--MAIN-SLIDER END-->

<section class="c-block" id="bt-sec">
    <div class="container">
        <div class="about-us-sec">
            <div class="about-us">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-text">
                            <!--<h2>LORD CROS</h2>-->
                            <h3>@(ViewBag?.HommebannerSec?.Titulo ?? "Titulo Default")</h3>
                            <p>@(ViewBag?.HommebannerSec?.Descripcion ?? "Descripción Default")</p>
                            <a asp-action="Index" asp-controller="Nosotros" title="" class="lnk-default">VER MÁS <i class="la la-arrow-right"></i></a>
                        </div><!--about-text end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="abt_carousel">

                            @if (!string.IsNullOrEmpty(ViewBag?.HommebannerSec?.Image1FullPath))
                            {
                                <div class="abt-img">
                                    <img class="imgBannerSec" src="@ViewBag?.HommebannerSec?.Image1FullPath" alt="">
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(ViewBag?.HommebannerSec?.Image2FullPath))
                            {
                                <div class="abt-img">
                                    <img class="imgBannerSec" src="@ViewBag?.HommebannerSec.Image2FullPath" alt="">
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(ViewBag?.HommebannerSec?.Image3FullPath))
                            {
                                <div class="abt-img">
                                    <img class="imgBannerSec" src="@ViewBag.HommebannerSec.Image3FullPath" alt="">
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(ViewBag.HommebannerSec?.Image4FullPath))
                            {
                                <div class="abt-img">
                                    <img class="imgBannerSec" src="@ViewBag.HommebannerSec.Image4FullPath" alt="">
                                </div>
                            }
                        </div><!--abt_carousel end-->
                    </div>
                </div>
            </div><!--about-us end-->
        </div><!--about-us-sec end-->
    </div>
</section><!--ABOUT-SEC END-->


 

<input type="hidden" id="totalHabitacionesHome" value="@(ViewBag?.TotalHabitacionesHome ?? 0)" />
<section class="c-block p-0 caruselHome2" >
    <div class="container-fluid p-0">
        <div class="rooms-sec">
            <div class="row " id="rowCarzzHab">
                @if (ViewBag.Habitaciones != null && ViewBag.Habitaciones.Count > 0)
                {
                    foreach (var habitacion in (List<Habitacion>)ViewBag.Habitaciones)
                    {
                        <div class="@ViewBag?.ClassSingleroom">
                            <div class="room-details divPointer" onclick="NavegarHabitacion(@habitacion.CodTipoHab)">
                                @if (@habitacion.Fotos.Count > 0)
                                {
                                    <img src="@habitacion.Fotos.First().Imagen" alt="">
                                }
                                <div class="room-hd">
                                    <h4>Desde @string.Format("{0:C}", habitacion.Precio)</h4>
                                    <h3>@habitacion.NombreTipoHab </h3>
                                </div>
                                <a href="javascript:;" onclick="NavegarHabitacion(@habitacion.CodTipoHab)" class="booking-btn" title="">VER MÁS <i class="la la-arrow-right"></i></a>

                            </div>
                        </div><!--room-details end-->
                    }
                }
            </div>
        </div><!--rooms-sec end-->
    </div>
</section><!--ROOM-SEC END-->

<section class="c-block">
    <div class="container">
        <div class="sec-title">
            <h3>Servicios</h3>
        </div><!--sec-title end-->
		<div class="services-sec">

			@if (ViewBag.HomeServices != null)
			{

				foreach (var serv in ViewBag.HomeServices)
				{

					if (serv.NumClass == 0)
					{
						<div class="row">
							<div class="col-lg-6">
								<div class="svr-text">
									<h3>@serv.NomServicio</h3>
									<p>@Html.Raw(serv.Descripcion)</p>
									<a asp-action="Index" asp-controller="Servicios" title="" class="lnk-default">Ver Más<i class="la la-arrow-right"></i></a>
								</div><!--svr-text end-->
							</div>
							<div class="col-lg-6">
								<div class="svr-img">
									<img src="@serv.Image1FullPath" alt="">
								</div><!--svr-img end-->
							</div>
						</div>
					}
					else
					{
						<div class="row">
							<div class="col-lg-6">
								<div class="svr-img">
									<img src="@serv.Image1FullPath" alt="">
								</div><!--svr-img end-->
							</div>
							<div class="col-lg-6">
								<div class="svr-text">
									<h3>@serv.NomServicio</h3>
									<p>@Html.Raw(serv.Descripcion)</p>
									<a asp-action="Index" asp-controller="Servicios" title="" class="lnk-default">Ver Más<i class="la la-arrow-right"></i></a>
								</div><!--svr-text end-->
							</div>
						</div>

					}

				}


			}
		</div><!--services-sec end-->
    </div>
</section><!--SERVICES SEC END-->

<section class="main-slider relax-sec seccionVideo" >
    <div id="rev_slider_476_1_wrapper2" class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_476_2" class="rev_slider" style="display:none;" data-version="5.3.0.2">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1648" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="images/slider_banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                    <img src="@ViewBag?.HomeVideo?.ImagenFondoFullPath" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <div class="tp-caption   tp-resizeme fullscreenvideo  disable-layer tp-videolayer"
                         id="lordcros-video-bg"
                         data-x="0"
                         data-y="0"
                         data-whitespace="nowrap"
                         data-type="video"
                         data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-ytid="@ViewBag?.HomeVideo?.Url" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&showinfo=0&rel=0;;origin=https://lordcros.c-themes.com;" data-videorate="1" data-videowidth="100%" data-videoheight="100%" data-videocontrols="none" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-autoplay="off"
                         data-volume="mute"
                         data-allowfullscreenvideo="true"
                         style="z-index: 5;">
                    </div>

                    <!-- LAYER NR. 3 -->

                    <h2 class="tp-caption   tp-resizeme"
                        id="slide-2-layer-1"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-71','-71','-71','-71']"
                        data-fontsize="['30','30','30','20']"
                        data-lineheight="['38','38','38','28']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":460,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 38px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto Slab;text-transform:uppercase;">
                        @ViewBag?.HomeVideo?.Titulo
                    </h2>

                    <!-- LAYER NR. 4 -->

                    <div class="tp-caption tp-resizeme"
                         id="slide-2-layer-2"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-34','-34','-34','-34']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":1090,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;text-transform:uppercase;">@ViewBag?.HomeVideo?.Descripcion</div>

                    <!-- LAYER NR. 5 -->

                    <div class="tp-caption vid_play tp-resizeme"
                         id="slide-2-layer-3"
                         data-x="center" data-hoffset="-10"
                         data-y="center" data-voffset="50"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-actions='[{"event":"click","action":"toggleclass","layer":"lordcros-video-bg","delay":"0","classname":"disable-layer"},{"event":"click","action":"playvideo","layer":"lordcros-video-bg","delay":"500"}]'
                         data-responsive_offset="on"
                         data-frames='[{"delay":1500,"speed":800,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         style="z-index: 10;">
						<div class="lordcros-video-btn"> <img src="~/images/icon-play.png" alt=""> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--Revolution Slider end-->
</section><!--MAIN-SLIDER END-->




@section Scripts{
    <script src="~/lib/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/lib/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/lib/revolution/js/revolution.extension.actions.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.carousel.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.kenburn.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.layeranimation.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.migration.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.navigation.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.parallax.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.slideanims.min.js"></script>
    <script src="~/lib/revolution/js/revolution.extension.video.min.js"></script>
    <script src="~/lib/revolution/js/revolution.initialize.js"></script>
    <script src="~/lib/revolution/js/revolution.initialize10.js"></script>
}


<script src="~/js/jquery.min.js"></script>


<script>
	

    $("#checkReservacion").click(function () {

        var FechaInicio = $('#EntradaBuscar').val();
        var FechaFinal = $('#SalidaBuscar').val();
        var TotalHuespedes = $(".formBookBody #totalHuespdes").val();
        var children = $(".formBookBody #totalNinos").val();
        VerificarFechasDisponibilidad(FechaInicio, FechaFinal, TotalHuespedes, children, false);
    });

    function NavegarHabitacion(codigo) {
        //window.location.href = "Habitacion/index/" + codigo;
		window.location.href = $('#URL_BASE').val() + "Habitacion?id=" + codigo + "&revificacionIncial=0&nfb=1";
    }


     
    $('.lordcros-video-btn').on('click', function (ev) {
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(3)").css("display", "none");		
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(4)").css("display", "none");		
		$(".forcefullwidth_wrapper_tp_banner  ul li div:nth-child(5)").css("display", "none");		
    });
    

    window.onload = function () {
        //setTimeout(CenterBottomPlay, 4000);
        $(".romzz_carousel .slick-track div ").unbind("click");
    };

	$(document).ready(function () {
		var width = $(window).width();        

		var TotalHabitaciones = $("#totalHabitacionesHome").val();
        if (TotalHabitaciones > 2) {
            $("#rowCarzzHab").addClass("romzz_carousel");
        }
        else if (TotalHabitaciones == 2 && width <= 768) {
			$("#rowCarzzHab").addClass("romzz_carousel");
        }
	});

</script>   