﻿
@{
    ViewData["Title"] = "Contacto";
}

<section class="pager-sec" style="background-image: url(@ViewBag?.Contacto?.ImageFullPath)">
    <div class="container">
        <div class="pager-sec-details">
            <h3>@ViewData["Title"]</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->

<section class="c-block white-bg">
    <input type="hidden" id="LAT" value="@ViewBag?.Contacto?.CoordenadasLatitud" />
    <input type="hidden" id="LON" value="@ViewBag?.Contacto?.CoordenadasLongitud" />
    <input type="hidden" id="NAME" value="@ViewBag?.Contacto?.Nombre" />
    <div class="container">
        <div class="contact_sec">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact_info">
                        <h3 id="linkMaps">INFORMACIÓN DE CONTACTO</h3>
                        <ul>
                            <li>
                                <img src="~/images/cs1.png" alt="">
                                <div class="cs_info">
                                    <span>@ViewBag?.Contacto?.Direccion </span>
                                </div>
                            </li>
                            <li>
                                <img src="~/images/cs2.png" alt="">
                                <div class="cs_info">
                                    <span>Call Us : @ViewBag?.Contacto?.Telefono1</span>
                                </div>
                            </li>
                            <li>
                                <img src="~/images/cs2.png" alt="">
                                <div class="cs_info">
                                    <span>Fax : @ViewBag?.Contacto?.Telefono1</span>
                                </div>
                            </li>
                            <li>
                                <img src="~/images/cs4.png" alt="">
                                <div class="cs_info">
                                    <a href="mailto:@(ViewBag?.Contacto?.Email)" title="">Email : @ViewBag.Contacto?.Email</a>
                                </div>
                            </li>
                        </ul>
                    </div><!--contact_info end-->
                </div>
                <div class="col-lg-6">
                    <div id="map"></div>
                </div>
            </div>
        </div><!--contact_sec end-->
    </div>
</section><!--CONTACT-SEC END-->

<input type="hidden" name="EmailHotel" id="EmailHotel" value="@(ViewBag?.Contacto?.Email)" />

<section class="c-block msg-sec">
    <div class="container">
        <div class="sec-title">
            <h3>Enviar un mensaje</h3>
            <p>¿Tienes algo en mente que decirnos? No dude en ponerse en contacto con nosotros a través de nuestro formulario de contacto. </p>
        </div><!--sec-title end-->
        <div class="post-comment">
            <form id="frmContacto" name="frmContacto">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-field">
                            <label>Nombre completo*</label>
                            <input type="text" name="name" id="name" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-field">
                            <label>Tu Email*</label>
                            <input type="email" name="email" id="email" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-field">
                            <label>Asunto*</label>
                            <input type="text" name="subject" id="subject" placeholder="" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-field">
                            <label>Tu Mensaje</label>
                            <textarea name="comment" id="comment" required></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-submit">
                            <button  type ="button" class="lnk-default" onclick="EnviarMensaje()">Enviar mensaje <i class="la la-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align:center" id="resultadoMensaje"></div>
            </form>
        </div><!--post-comment end-->
    </div>
</section>


@section Scripts{
    <script src="~/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8y1Xe_AzJHARJebaXaN6Jzltm5y07rRg&callback=initMap"></script>
    <partial name="_ValidationScriptsPartial" />
    <script> 
		function EnviarMensaje() {

            if (!$('#frmContacto').valid()) {
                Swal.fire({
				    icon: 'warning',			
                    text: 'Debe completar el formulario',   
                    customClass: {
                        confirmButton: 'BtnMirarOpciones',
                    }
			    });
			    return false;
            }

            var data = {
                NomCliente: $("#name").val(),
                Email: $("#email").val(),
                Asunto: $("#subject").val(),
                Mensaje: $("#comment").val(),
				EmailHotel: $("#EmailHotel").val()

            };

            $.ajax({  
                type: "POST",  
                url: "@Url.Action("EnviarCorreo", "Contacto")", 
                data: { data: data },
				success: function (data) {
                    if (data.IsSuccess == true) {
                        Swal.fire({
                            icon: 'success',
                            title: '¡Completado!',
                            text: 'El mensaje fue enviado correctamente', 
                            customClass: {
                                confirmButton: 'BtnMirarOpciones',
                            }
			            });
                        limpiarFormulario();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'No se pudo enviar el mensaje', 
                            customClass: {
                                confirmButton: 'BtnMirarOpciones',
                            }
			            });
                    }
                },                  
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                        text: 'No se pudo enviar el mensaje', 
                        customClass: {
                            confirmButton: 'BtnMirarOpciones',
                        }
			        });
				},
				beforeSend: function () {
                    Swal.fire({                    
	                     allowOutsideClick: false,
	                     showConfirmButton: false,
	                     showClass: {
		                    popup: 'animated fadeIn faster'
	                      },
	                     customClass: {
				                    container: 'sweetLoadingcontent'                            
			                      },
						html: "<div class='animacionJson'><lottie-player src='" + $('#URL_BASE').val()  +"js/LoadingcataratasGris.json' background='transparent' speed='1' style='width: 150px; height: 150px;' loop  autoplay>"+
		                    "</lottie-player></div>"
                    });
				}
            });  
		}

		function limpiarFormulario() {
            $('#frmContacto')[0].reset();
		}
    </script>
}

 