﻿
@{
    ViewData["Title"] = "Habitaciones";
}
 

<section class="pager-sec" style="background-image: url(@ViewBag?.Footer?.URLHabitacionesFullPath)">
    <div class="container">
        <div class="pager-sec-details">
            <h3>NUESTRAS HABITACIONES</h3>
        </div><!--pager-sec-details end-->
    </div>
</section><!--pager-sec end-->

<section class="main-content">
    <div class="container">
        <div class="page-content">
            <div class="main-dv listadoHabitaciones">
                <div class="main-dv-head">
                    <ul class="pc-list">
                        <li>
                            <div class="lang-slct">
                                <div class="custom-select">
									<select id="SltPrecioFiltro" name="SltPrecioFiltro">
										<option value="-1">Filtrar por Precio</option>
										@if (ViewBag.PreciosHabitaciones != null)
										{
											@foreach (var item in ViewBag.PreciosHabitaciones)
											{
												<option value="@(item.Precio)">@string.Format("{0:C}", item.Precio) </option>
											}
										}
									</select>
                                </div>
                            </div><!--lang-select end-->
                        </li>
                    </ul><!--pc-list end-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false"><img src="~/images/bar-icon1.png" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"><img src="~/images/bar-icon2.png" alt=""></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div><!--main-dv-head end-->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="tb-detaiils v13">
                            <div class="row" id="rowHab1">
                            </div>
                        </div><!--tb-detaiils end-->
                    </div>
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="tb-detaiils" id="rowHab2">
                        </div><!--tb-detaiils end-->
                    </div>
                </div>
                <div class="lc-pagination">
                    <nav>
                        <ul class="pagination" id="HabPaginacion">
                        </ul>
                    </nav>
                </div><!--lc-pagination end-->
            </div><!--main-dv end-->
        </div><!--page-content end-->
    </div>
</section><!--main-content end-->

<input type ="hidden" value="@ViewBag.FechaIniCheck"   id="FechaIniCheck" name="FechaIniCheck"/>
<input type ="hidden" value="@ViewBag.fechaFinCheck"   id="fechaFinCheck" name="fechaFinCheck"/>
<input type ="hidden" value="@ViewBag.huespedes"   id="huespedes" name="huespedes"/>
<input type ="hidden" value="@ViewBag.ninos"   id="ninos" name="ninos"/>



<script src="~/js/jquery.min.js"></script>
<script src="~/js/habitacionFiltro.js"></script>


<script>
	function reservarHabitacion(codHab) {
		//alert(codHab);
		$("#").val()
		window.location.href = $('#URL_BASE').val() +  "habitacion/index?id="+ codHab +"&FechaIniCheck=" + $("#FechaIniCheck").val() + "&fechaFinCheck=" + $("#fechaFinCheck").val() + "&huespedes=" + $("#huespedes").val() +"&children=" + $("#ninos").val()+"&revificacionIncial=0&nfb=1";
	}
</script>